/* This file contains common style */
/* Rules
Color : 
Sky Blue light : #BDEDFF
skyBlue Deep : #3BB9FF
Bodor color : #E5E5E5
Hover Backgroud ( very light ) :  #E0FFFF

*/
/* common Style */
ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.box {
  border: 1px solid #E5E5E5;
  background: white;
  padding: 10px;
}

._inline {
  display: inline;
}

._block {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*Q1. Form Style  */
#frm-style1 li {
  display: block;
  padding: 10px 0;
  position: relative;
}

#frm-style1 input {
  margin: 5px 0;
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  padding: 10px;
  background-color: white;
  background-image: none;
  border: 1px solid #dadada;
  border-radius: 3px;
  color: #333333;
  display: block;
  line-height: 1.42857;
}

#frm-style1 input:hover {
  border: 1px solid #898989;
}

#frm-style1 input:focus {
  border: 1px solid #898989;
}

#frm-style1 input.error {
  border: 1px solid red;
}

#frm-style1 .error-msg {
  color: red;
}

#frm-style1 label {
  position: absolute;
  left: 0;
  top: 35px;
  transition: all .2s linear;
  color: #999999;
  font-size: 12px !important;
  font-weight: 300 !important;
  opacity: 0;
  z-index: -1;
  text-transform: uppercase;
}

#frm-style1 .fixed-label {
  top: -5px;
  left: 0;
  opacity: 1;
  z-index: 1;
}

/*Q2. Hrtabs */
.hr-tab {
  border: 1px solid #E5E5E5;
  background: white;
  width: 500px;
}

.hr-tab .title {
  padding: 10px;
  border-bottom: 1px solid #E5E5E5;
}

.hr-tab .tabs ul {
  background-color: white;
  border-bottom: #BDEDFF solid 1px;
}

.hr-tab .tabs li {
  padding: 10px;
  width: 50px;
}

.hr-tab .tabs li.active {
  border-bottom: #3BB9FF solid 2px;
}

.hr-tab .data {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hr-tab .data > div {
  width: 100%;
  height: 200px;
}

/*Q3. Vetical tabs */
#verti_tab {
  width: 500px;
  padding: 5px;
  border: 1px solid #E5E5E5;
}

/*Q4. XXX */
/*Q5. XXX */
.popup-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(196, 196, 196, 0.85);
  top: 0;
  left: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.overlay .popup-overlay {
  opacity: 1;
  left: 0;
}

.popup {
  position: fixed;
  top: 25%;
  left: 50%;
  z-index: -9999;
}

.popup .popup-body {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
  opacity: 0;
  min-height: 150px;
  width: 400px;
  margin-left: -200px;
  padding: 20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -ms-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
  position: relative;
  -moz-box-shadow: 1px 2px 3px 1px #b9b9b9;
  -webkit-box-shadow: 1px 2px 3px 1px #b9b9b9;
  box-shadow: 1px 2px 3px 1px #b9b9b9;
  text-align: center;
  border: 1px solid #e9e9e9;
}

.popup.visible, .popup.transitioning {
  z-index: 9999;
}

.popup.visible .popup-body {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.popup .popup-exit {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
  background: url(http://blog.artera.it/wp-content/uploads/2013/06/x-btn.png) no-repeat;
}

.popup .popup-content {
  overflow-y: auto;
}

.popup-content .popup-title {
  font-size: 24px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
}

.popup-content p {
  font-size: 13px;
  text-align: justify;
}

/*Q6. XXX */
/*Q7. XXX */
/*Q8. XXX */
/*Q9. XXX */
/*Q10. XXX */
/*Q11. XXX */
#progress {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: -6px;
  width: 0%;
  height: 2px;
  background: #b91f1f;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out,opacity 400ms linear;
  -ms-transition: width 500ms ease-out,opacity 400ms linear;
  -o-transition: width 500ms ease-out,opacity 400ms linear;
  -webkit-transition: width 500ms ease-out,opacity 400ms linear;
  transition: width 500ms ease-out, opacity 400ms linear;
}

#progress.done {
  opacity: 0;
}

#progress dd, #progress dt {
  position: absolute;
  top: 0;
  height: 2px;
  -moz-box-shadow: #b91f1f 1px 0 6px 1px;
  -ms-box-shadow: #b91f1f 1px 0 6px 1px;
  -webkit-box-shadow: #b91f1f 1px 0 6px 1px;
  box-shadow: #b91f1f 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#progress dd {
  opacity: 1;
  width: 20px;
  right: 0;
  clip: rect(-6px, 22px, 14px, 10px);
}

#progress dt {
  opacity: 1;
  width: 180px;
  right: -80px;
  clip: rect(-6px, 90px, 14px, -6px);
}

@-moz-keyframes pulse {
  30% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes pulse {
  30% {
    opacity: 0.6;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@-o-keyframes pulse {
  30% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pulse {
  30% {
    opacity: 0.6;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes pulse {
  30% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#progress.waiting dd, #progress.waiting dt {
  -moz-animation: pulse 2s ease-out 0s infinite;
  -ms-animation: pulse 2s ease-out 0s infinite;
  -o-animation: pulse 2s ease-out 0s infinite;
  -webkit-animation: pulse 2s ease-out 0s infinite;
  animation: pulse 2s ease-out 0s infinite;
}

/*Q12. XXX */
.btn-style1 {
  color: #00d7ff;
  border: 1px solid #00d7ff;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  background: white;
  border-radius: 3px;
}

.btn-style1:hover {
  background: #00dcff;
  border: 1px solid #00d7ff;
  color: white;
}

/*Q13. XXX */
.nav-wrap {
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

#example-one {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 960px;
}

#example-one li {
  display: inline;
}

#example-one li a {
  color: #bbb;
  font-size: 14px;
  display: block;
  float: left;
  padding: 6px 10px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

#example-one li a:hover {
  color: white;
}

#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #fe4902;
}

/*Q14. XXX */
#CollapseList .main {
  padding: 10px 0;
  border-bottom: 1px solid #3BB9FF;
}

#CollapseList .main:hover {
  background: #E0FFFF;
}

#CollapseList .details {
  background: none;
  height: 200px;
  border-bottom: 1px solid #3BB9FF;
  padding: 10px 0;
}

/*Q15. XXX */
#mytable {
  width: 600px;
  position: relative;
}

#mytable .marks {
  display: inline-flex;
}

#mytable table {
  width: 100%;
}

#mytable table, #mytable th, #mytable td {
  border: 1px solid #3BB9FF;
  border-collapse: collapse;
  text-align: left;
}

#mytable td {
  padding: 5px;
}

#mytable th {
  text-align: center;
  padding: 10px;
}

#mytable .marks table {
  display: inline-block;
}

/*Q16. XXX */
.popup-sidebar-data {
  position: fixed;
  top: 0;
  right: 400px;
  width: 0px;
  height: 100%;
  background: #fff;
  z-index: 100;
  -moz-transform: translate3d(400px, 0, 0);
  -o-transform: translate3d(400px, 0, 0);
  -ms-transform: translate3d(400px, 0, 0);
  -webkit-transform: translate3d(400px, 0, 0);
  transform: translate3d(400px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  overflow-y: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */
/*Q1. XXX */

/*# sourceMappingURL=paytm.css.map */

/*dd: toothstrap.scss defines a common css style */
/*Style guideline */
.font, .title-text-head, #big-info-box .title, .title-text-sub, .title-text-small, body {
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  font-size: 14px;
  color: #777;
}

.title-text-head, #big-info-box .title {
  font-size: 19px;
  color: #3BB9FF;
}

.title-text-sub {
  font-size: 16px;
}

.title-text-small {
  font-size: 10px;
}

body {
  background: white;
  margin: 0px;
}

input {
  background-color: #FFF;
  background-image: none;
  border: 1px solid #DADADA;
  border-radius: 3px;
  color: #333;
  font-size: 20px;
  height: 34px;
  padding: 6px 12px;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  font-weight: 300;
}

input:hover {
  border: 1px solid #898989;
}

input:focus {
  outline: none;
}

/*------End of Style guideline------- */
/* Sprite Images from different stores ---*/
.myntra-sprite, .icon-notification, .icon-wishlist, .icon-bag, .icon-search {
  display: inline-block;
  background: url(http://myntra.myntassets.com/myx/images/header-sprite.443d5dda32e318090fa47110db970803ca28a72f.png) no-repeat top left;
}

.icon-notification {
  background-position: -2409px 0;
  width: 20px;
  height: 24px;
}

.icon-wishlist {
  background-position: -2470px 2px;
  width: 23px;
  height: 23px;
}

.icon-bag {
  background-position: -2539px 0;
  width: 23px;
  height: 23px;
}

.icon-search {
  background-position: -2609px 0;
  width: 19px;
  height: 19px;
}

/*----------Default Overwrite Styles -----------*/
ul, p {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.hide {
  display: none;
}

.show {
  display: block;
}

._inline {
  display: inline;
}

._block {
  isplay: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.box, #div-nav-bar.underline-scroll, #div-nav-bar.side-nav, #big-info-box {
  border: 1px solid #E5E5E5;
  background: white;
  /*No padding Here */;
}

.rbox {
  border: 1px solid #E5E5E5;
  background: white;
  /*No padding Here */;
}

.border-bottom, #div-nav-bar.underline-scroll .header, #div-nav-bar.underline-scroll .menu, #div-nav-bar.side-nav .header, #top-bar {
  border-bottom: 1px solid #E5E5E5;
}

.circle {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 3px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  padding: 0px;
  -webkit-transition: all .3s ease-in;
}

.circle:hover {
  width: 60px;
  height: 60px;
}

/*  End of Default Overwrite Styles */
/*---------------Component Styles ---------------- */
/* btn */
.p-btn {
  display: inline-block;
  border: 1px solid #E5E5E5;
  line-height: 21px;
  padding: 10px 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  background: #BDEDFF;
  color: white;
}

.s-btn {
  display: inline-block;
  border: 1px solid #E5E5E5;
  line-height: 21px;
  padding: 10px 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  background: transparent;
  color: #777;
}

.p-btn:hover {
  background: transparent;
  color: #fff;
}

.s-btn:hover {
  background: #fff;
  color: white;
}

.p-btn-s1 {
  color: white;
  border: 2px solid #3BB9FF;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  background: white;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in;
}

.p-btn-s1:hover {
  background: #3BB9FF;
  border: 2px solid white;
  color: white;
}

/* div nav bar */
#div-nav-bar.underline-scroll {
  width: 300px;
}

#div-nav-bar.underline-scroll .header {
  text-align: center;
  padding: 10px 0;
}

#div-nav-bar.underline-scroll .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#div-nav-bar.underline-scroll .menu li {
  display: inline-block;
  padding: 6px 12px;
}

#div-nav-bar.underline-scroll .menu a {
  text-decoration: none;
}

#div-nav-bar.underline-scroll .data {
  margin: 10px 0;
}

#div-nav-bar.underline-scroll li.active {
  border-bottom: 2px solid green;
}

/*--- Side nav --*/
#div-nav-bar.side-nav {
  width: 300px;
  position: relative;
}

#div-nav-bar.side-nav .header {
  text-align: center;
  padding: 10px 0;
}

#div-nav-bar.side-nav .menu {
  display: inline-block;
  top: -22px;
  position: relative;
}

#div-nav-bar.side-nav .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#div-nav-bar.side-nav .menu li {
  display: block;
  padding: 6px 12px;
}

#div-nav-bar.side-nav .menu a {
  text-decoration: none;
}

#div-nav-bar.side-nav .data {
  display: inline-block;
  margin: 10px 0;
  left: -3px;
  position: relative;
}

#div-nav-bar.side-nav li.active {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  border-left: 2px solid green;
}

/* big-info-box */
#big-info-box {
  padding: 10px;
  height: 200px;
  width: 150px;
}

#big-info-box:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #3BB9FF;
}

#big-info-box .title {
  margin-top: 50%;
}

/* topbar */
#top-bar {
  position: fixed;
  top: 0px;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  display: inline-block;
  background: white;
}

#top-bar:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #3BB9FF;
}

#top-bar div {
  display: inline-block;
  vertical-align: middle;
}

#top-bar img {
  vertical-align: middle;
}

#top-bar .search {
  margin-left: 30px;
}

#top-bar .search input {
  width: 250px;
}

#top-bar .search input:hover {
  width: 550px;
}

#top-bar .search a {
  border: 1px solid #dddedf;
  background-color: #edeeef;
  padding: 6.5px;
  display: inline-block;
  vertical-align: bottom;
  left: -37px;
  position: relative;
}

#top-bar .actions {
  border: 1px solid #dddedf;
  width: 200px;
  padding: 5px;
  right: 110px;
  position: absolute;
}

#top-bar .actions a {
  margin: 0 10px;
}

#top-bar .account {
  position: absolute;
  right: 23px;
  margin-top: -15px;
}

/*flyout */
.flyout {
  top: 10;
  left: 10;
  position: absolute;
  z-index: 2;
  -webkit-transition: opacity .2s ease-out,visibility .2s ease-out;
  -moz-transition: opacity .2s ease-out,visibility .2s ease-out;
  -o-transition: opacity .2s ease-out,visibility .2s ease-out;
  transition: opacity .2s ease-out,visibility .2s ease-out;
  opacity: 0;
  background-color: #fff;
  color: #697071;
  border: 1px solid #d4d4d4;
  box-shadow: 0 2px 10px 0 rgba(105, 112, 113, 0.5);
}

.flyout .arrow {
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-top-width: 0;
  border-bottom-color: #d4d4d4;
}

.flyout .contents {
  height: 200px;
  width: 450px;
}

/* Animation and Transitions */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.long {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes flipOutX {
  0% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-moz-keyframes flipOutX {
  0% {
    -moz-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    -moz-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@-o-keyframes flipOutX {
  0% {
    -o-transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    -o-transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.flipOutX {
  -webkit-animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -moz-animation-name: flipOutX;
  -moz-backface-visibility: visible !important;
  -o-animation-name: flipOutX;
  -o-backface-visibility: visible !important;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#example {
  width: 200px;
  height: 100px;
  background: orange;
  padding: 20px;
  margin-bottom: 20px;
}

#show,
#hide {
  padding: 15px;
  border-radius: 4px;
  background: #aaa;
  color: #222;
  text-decoration: none;
  float: left;
  margin-right: 20px;
}

/*# sourceMappingURL=toothstrap.css.map */
