iframe{border:0}
*{outline: 0;}
body {
	font-family: arial;
	font-size: 16pt;
}

div.split-pane-frame {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: white;
}

div.decoration {
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	background: white;
	width: 100%;
	height: 100%;
	padding:2px;
	overflow: auto;
}
input[type="text"],textarea {
     width: 98%;
     padding:5px;
     height:95%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
     outline: 0;
     border:0px;
font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
font-size: 16px;
}
textarea:focus, input:focus{
    outline: 0;
}

.btn{
    border: 1px solid pink;
    opacity: 0.3;
    padding: 5px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 3;

   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.btn:hover{
opacity: 1;
}
.btn button{
    background: none repeat scroll 0 0 pink;
    border: 1px solid red;
    display: block;
    height: 30px;
    margin: 10px 0;
    width: 40px;
}
#debugDiv{
position: fixed;
width: 100%;
BACKGROUND: lightcyan;
height: 20px;
color: red;
font-weight: bold;
font-size: 9px;
bottom: 0px;
opacity: .5;
border-top: 1px solid blueviolet;
}
