/***********  This is a counter part of utils.js ************/



/*******************************************************************    
        C O M M O N   S T Y L E
********************************************************************/
i{cursor: pointer;}
html,body,.container{height: 100%; line-height: 1; width: 100%;margin:0px;padding:0px}
li, ol { list-style-type: decimal; padding: 5px; cursor: pointer;}
*{
   outline: 0;
}
input::-moz-focus-inner { 
  border: 0; 
}

* {
    box-sizing: border-box;
}
::-webkit-input-placeholder { color: rgba(255,255,255,0.3);}
:-moz-placeholder {  color: rgba(255,255,255,0.3);}
::-moz-placeholder {  color: rgba(255,255,255,0.3);}
:-ms-input-placeholder { color: rgba(255,255,255,0.3);}
.hide {display:none}.show {display:block}
.fl{float:left;}.fr{float:right;} .center{text-align:center;margin:0 auto;}
.curptr{cursor:pointer}
/******************************************************************* 
   I N P U T   S T Y L E 
********************************************************************/


/******************************************************************* 
   B U T T O N   S T Y L E
********************************************************************/




/*******************************************************************    
        W I N   S T Y L E   P O P U P 
********************************************************************/
#overlay { position:fixed; top:0; left:0; background:rgba(255,255,255,0.7); z-index:25; width:100%; height:100%; display:none; } 
.win_style_pop_up {  display:none;border: 0px solid red;height: 300px;position: fixed;top: calc(40% - 150px);width: 100%;z-index: 26;box-shadow: 0px 0px 5px gray; padding: 10px;background:white;color:#87cefa ;}
.win_style_pop_up .title{  font-size: 40px; font-weight: bold;margin-left: 120px; margin-top: 7px; margin-bottom:14px; letter-spacing: 1.2px;}
.win_style_pop_up .desc {  font-size: 22px;margin-left: 125px;margin-top:5px;}
.win_style_pop_up button {  background:white ; border: 1px solid #87cefa;color: #87cefa;  font-size: 20px;  margin-right: 22px;  padding: 7px 14px;  transition-duration: 0.5s;}
.win_style_pop_up button:hover{font-weight: bolder;}

/*inv*/
.win_style_pop_up.inv {background:#87cefa;color:white;}
.win_style_pop_up.inv button {background:#87cefa ; border: 1px solid white;color: white;}

/*******************************************************************    
        T O P   P R O G R E S S   B A R 
********************************************************************/
.top-progress-bar{  position: fixed;  top: 0px;  border-bottom: 3px red solid;  width: 0%;  transition: width 1s ease-in-out;  display:none;}
.top-progress-bar.progress{  display:block;width: 20%;}
.top-progress-bar.complete{width: 100%;}
.top-progress-bar.done{}

/******************************************************************* 
    A U T O   H I D E   P O P U P 
********************************************************************/
.autohideMsgPopUp {position: fixed;width: 100%;right:0;padding: 4px 30px;bottom: -200px;z-index:2000;transition: bottom .5s ease-in-out;background: #87cefa !important;  background: rgba(135, 206, 250,0.7) !important;  color: white !important;  font-family: Lucida Console;  font-size: 13px;  text-align:right;}
.autohideMsgPopUp.active { bottom: 0px;  right: 0;}
.autohideMsgPopUp.active.success { border-top: 1px solid green !important; box-shadow: 5px 5px 5px 5pxgreen;}
.autohideMsgPopUp.active.error { border-top: 2px solid red !important;box-shadow: 5px 5px 5px 5px red;}.autohideMsgPopUp li, .autohideMsgPopUp ul{display:block;list-style-type: circle;}.autohideMsgPopUp li b {padding-right: 5px;text-transform: capitalize;}
.autohideMsgPopUp li.success b{color:green;}
.autohideMsgPopUp li.error b{color:red;}


/******************************************************************* 
  OLD   T A B   W I N D O W S   
********************************************************************/
.tab.traditional .menu a{   border-radius: 0 !important;   color: black;   padding: 4px 10px;}
.new_cs{   background: #87cefa;   color: white;   font-size: 16px;   height: 35px;   padding: 5px;}
.tab .menu a,.tab .menu a:hover { border:0 !important;}
.tab .menu a.active{  border:1px solid gray !important; border-bottom-width: 0 !important; padding: 7px; z-index: 10; background:white;}

.autohide {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 6px;
    color: red;
    font-family: consolas;
    left: calc(50% - 200px);
    margin: 0 auto;
    padding: 8px 10px;
    position: fixed;
    text-align: center;
    top: 9px; 
    width: 400px;
    z-index: 51;
} 

/***********************************************************************
    OVERLAY
***********************************************************************/
.overlay{background-color: #111;z-index: 0; opacity:0.5;}
.overlay.active {    position: fixed;    height: 100%;    width: 100%;    z-index: 20;    top: 0;    left: 0;}






/********************************************************************
          RATING STAR CSS FOR RATING
********************************************************************/


/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 




/**********************************************************************************
       E N D   O F   R A T I N G     S T A R  C S S    F O R    R A T I N G 
***********************************************************************************/


/*****************  ACE EDITOR STYLE *******************/
.ace_line_group.error,.ace_gutter-cell.error{background-color:#FFCDD2;color:#F44336}
.ace_gutter-cell.error:before { content: attr(data-content);float:left;}
.ace_line_group.error:before { content: attr(data-content); float:right;}


.ace_gutter-cell.warning,.ace_line_group.warning{background-color:#E3F2F;color:#2196F3;}
.ace_line_group.warning:before {content: attr(data-content); float:right;}
.ace_gutter-cell.warning:before {content: attr(data-content);float:left;}


/***********************************************
    P O P O V E R   F R A M N E W O R K  
*************************************************/
.PopOver{position: fixed; background: #795548;z-index: 100;border-color:#4E342E;border-style:solid;color:white;}
.PopOver.top{ width: 100%;height: 50px;left: 0;top: 0; border-bottom-width:1px;}
.PopOver.bottom{ width: 100%;height: 50px;left: 0;bottom: 0;border-top-width:1px;}
.PopOver.left{ height: 100%;width: 50px;left: 0;top: 0;border-right-width:1px;}
.PopOver.right{ height: 100%;width: 50px;right: 0;top: 0;border-left-width:1px;}

.PopOver .close{ position: fixed; background: #795548;cursor: pointer; }
.PopOver.top .close{right: 0;     bottom: -22px; padding: 5px 10px; }
.PopOver.bottom .close{right: 0; top: -22px; padding: 5px 10px; }
.PopOver.left .close{ right: -22px;top: 0px; padding: 10px 5px; }
.PopOver.right .close{left: -22px; top: 0px; padding: 10px 5px; }

/****************************************************************
    P A G E   L  O A D   I N D I C  A T O R   F R A M E W O R  K
*****************************************************************/
.load_overlay{background-color: rgba(0,0,0,0.15);z-index: 0; }
.load_overlay.active {position: fixed; height: 100%;width: 100%;z-index: 20;top: 0;left: 0;}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css { background: none;position: fixed;  width: 200px;  height: 200px;    top: calc(50% - 100px);    left: calc(50% - 100px);z-index: 21}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #59ebff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
 

    
/******************************************
    DRAGGABLE
*******************************************/
.draggable {position: fixed; z-index: 11; top: 0;left: 0; width: 200px; height: 400px; background: white;border: 1px solid #ddd;box-shadow: 1px 3px 7px 0 #ddd;}
.draggable  .header{background: rgba(26, 142, 189, 0.87);  width: 100%; color: white; height: 25px; text-align:center;   padding: 3px 5px;}
.draggable  .header  i{padding: 0px 5px;font-size: 11px;}
.draggable  .drag_btn  i {font-size: 20px; margin-right: -43px;cursor: move;}
.draggable.fullscreen{height:100%;width:100%;top:0px !important;left:0px !important;}
.draggable.minimized{height: 16px; right: 0;bottom: 10px; top: inherit !important;left: inherit !important;}

/******************************************
    GROUP VIDEO CHAT 
*******************************************/
.group_audio_video_chat {}
.group_audio_video_chat  .btn {position: absolute; bottom: 70px; right: 95px; width: 170px;}
.group_audio_video_chat  .btn > span{    font-size: 15px;    padding: 10px 12px; border-radius: 50%;margin: 0 6px;color: white; background: rgba(40,40,40,0.4);box-shadow: 0 0 10px #666;}
.group_audio_video_chat  .btn span.b1:hover{background: rgba(255,0,0,0.4);box-shadow: 0 0 12px red;}
.group_audio_video_chat  .btn span.b2:hover{background: rgba(0,255,0,0.4);;box-shadow: 0 0 12px  rgba(0,255,0,0.4);}
.group_audio_video_chat  .btn span.b3:hover{background: rgba(0,0,255,0.4);box-shadow: 0 0 12px rgba(0,0,255,0.4);}
.group_audio_video_chat  .btn span.b4:hover{background: pink;box-shadow: 0 0 12px pink;}
.group_audio_video_chat  .btn span.on_call i{ transform: rotate(134deg); color: red;}
.group_audio_video_chat  .btn span.on_mic_off i{ transform: rotate(134deg); color: red;}
.group_audio_video_chat  .btn span.on_cam_off i{ transform: rotate(134deg); color: red;}
.group_audio_video_chat  .mini_list{position: absolute;right: 6px;top: 6px;}
.group_audio_video_chat  .mini_list video{height: 40px;width: 45px;border: 1px solid #666;}

/******************************************
    Common Theme : YOU MUST USE IT
*******************************************/
.indigo { color: #3f51b5;  background-color: white;border-color:white;font-family: Ubuntu, sans-serif; }
.indigo.inv {  background-color: #3f51b5;  color: white; border-color:#3f51b5;}
.indigo .p1 {color: rgba(255, 255, 255, 0.95); font-size: 17px;    margin: 12px 0 ;}
.indigo .p2 {color: rgba(255, 255, 255, 0.77); font-size: 15px;    margin: 12px 0;}
.indigo .p3 {ont-size: 11.9px; color: rgba(255, 255, 255, 0.57);    margin: 12px 0;}
.indigo input ,.indigo textarea,.indigo select{ background: transparent; border: 0;border-bottom: 1px solid rgba(255, 255, 255, 0.2); width: 100%; color: rgba(255, 255, 255, 0.97); text-align: center;line-height: 2;}
.indigo .btn { border: 1PX SOLID WHITE; padding: 10px 12px;width: 130px; text-align: center;margin: 8px;}
.indigo .box {border:1px solid white; padding:10px 15px;}
.indigo .light_hover_border{background: transparent;border-color: rgba(255, 255, 255, 0.2); color: rgba(255, 255, 255, 0.57);}
.indigo .light_hover_border:hover{background: transparent;border-color: rgba(255, 255, 255, 0.95); color: rgba(255, 255, 255, 0.95);}
.indigo .span{margin: 0 10px;}

.indigo .color_btn:hover, .color_btn:focus {box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);transform: translate3d(0px, -1px, 0px);}
.indigo .color_btn { margin:5px;box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); background: rgb(233, 30, 99) none repeat scroll 0% 0%;color: rgb(255, 255, 255);border-radius: 2px;padding: 4px 11px; transform: translate3d(0px, 0px, 0px);transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;}

.indigo .cw800{margin:10px auto;width:800px;height:100%;}


