<!DOCTYPE html>
<html ng-app="countryApp">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body ng-app="">

<br><br>Ex 1 : ng-model and ng-binding <br>
<div >
  <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
  <p> {{name}}</p>
</div>

<br><br>EX 2: ng-init: Expression / objects/Array<br><br>
<div ng-app="">
 	<p>My first expression: {{ 5 + 5 }}</p>
</div>

<div ng-app="" ng-init="firstName='John';lastName='Doe'">
<p>The name is {{ firstName + " " + lastName }}</p>
</div>

<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
<p>The name is {{ person.lastName }}</p>
</div>

<div ng-app="" ng-init="points=[1,15,19,2,40]">
<p>The points are {{ points[2] }}</p>
</div>


<br><br>EX 3: Binding form <br><br>
<div ng-app="" ng-init="quantity=1;price=5">
Quantity: <input type="number"	ng-model="quantity">
Costs:    <input type="number" ng-model="price">
Total in dollar: {{ quantity * price }}
</div>


<br><br>EX 2: Looping by ng-repeat <br><br>

<div ng-app="" ng-init="names1=['Jani','Hege','Kai']">
  <ul>
    <li ng-repeat="x in names1">
      {{ x }}
    </li>
  </ul>
<div>

<div ng-app="" ng-init="names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

<ul>
  <li ng-repeat="x	in names">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>


<br><br>EX 2: ng-hide and ng-show<br><br>
<!-- To use either ngShow or ngHide, 
just add the directive to the element you’d like to show or hide. -->

<!-- FOR BOOLEAN VALUES 
=============================== -->
<div ng-show="hello">this is a welcome message</div>   <!-- for true values -->
<div ng-show="!hello">this is a goodbye message</div>    <!-- can also show if a value is false --> 

<!-- FOR EXPRESSIONS 
=============================== -->
<!-- show if the appState variable is a string of goodbye -->
<div ng-show="appState == 'goodbye'">this is a goodbye message</div> 

<!-- FOR FUNCTIONS 
=============================== -->
<!-- use a function defined in your controller to evaluate if true or false -->
<div ng-hide="checkSomething()"></div> 

<br><br>EX 2: Toggle a Div <br><br>
        <!-- change goCats to not true or true -->
        <a href ng-click="goCats = !goCats" >Toggle Cats</a>
        <img ng-src="http://i.imgur.com/vkW3Lhe.jpg" ng-show="goCats">

<br><br>EX 2: Show a Diff if matches<br><br>

<label>Type an Animal <span class="text-muted">(cat, dog, lion, bear, turtle)</span></label>
<input type="text" class="form-control" ng-model="aminal">      
<div class="col-xs-6">
  <img ng-src="http://i.imgur.com/vkW3Lhe.jpg" ng-show="aminal == 'cat'">
  <img ng-src="http://i.imgur.com/gjLSTqX.jpg" ng-show="aminal == 'dog'">
  <img ng-src="http://i.imgur.com/bE17tmf.jpg"  ng-show="aminal == 'lion'">
  <img ng-src="http://i.imgur.com/ICGkjN3.png"  ng-show="aminal == 'bear'">
  <img ng-src="http://i.imgur.com/Zpf1dBi.jpg" ng-show="aminal == 'turtle'">
</div>


<br><br>EX 2: Dom Manipulations: ng-disabled <br><br>
<p><button ng-disabled="mySwitch">Click Me!</button></p>
<p><input type="checkbox" ng-model="mySwitch">Button</p>

<br><br>EX 2: ng-class ( Use Inspector to see the changes ) WORKING <br><br>
<!-- Class to be change as per when model is defined -->
<p ng-class="{strike: deleted, bold: important, red: error}"> Map Syntax Example</p>
<input type="checkbox" ng-model="deleted"> deleted (apply "strike" class)<br>
<input type="checkbox" ng-model="important"> important (apply "bold" class)<br>
<input type="checkbox" ng-model="error"> error (apply "red" class)
<hr>
<!-- Class to be change as per when model /input is defined -->
<p ng-class="style">Using String Syntax</p>
<input type="text" ng-model="style" placeholder="Type: bold strike red">
<hr>
<!-- Class can come multple sources -->
<p ng-class="[style1, style2, style3]">Using Array Syntax</p>
<input ng-model="style1" placeholder="Type: bold, strike or red"><br>
<input ng-model="style2" placeholder="Type: bold, strike or red"><br>
<input ng-model="style3" placeholder="Type: bold, strike or red"><br>


<br><br>EX 2: ng Style <br><br>

<span ng-style="myStyle">Sample Text</span>
<input type="button" value="set color" ng-click="myStyle={color:'red'}">
<input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
<input type="button" value="clear" ng-click="myStyle={}">
<br/>
<pre>myStyle={{myStyle}}</pre>



<br><br>EX 2:ng if <br><br>
Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/>
Show when checked: 
    <span ng-if="checked" ng-animate="{enter: 'enter-animation', leave: 'leave-animation'}">
      I'm removed when the checkbox is unchecked.
    </span>
    
    
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>



<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>























<br><br>EX 5: Table Data : ng-repeat, filter, orderby, currency , upppercase, <br><br>
<div>
    <script>
      var countryApp = angular.module('countryApp', []);
      countryApp.controller('CountryCtrl', function ($scope){
      $scope.countries = [
                          {
                            "name": "WORLD",
                            "population": 6916183000
                          },
                          {
                            "name": "More developed regions",
                            "population": 1240935000
                          },
                          {
                            "name": "Less developed regions",
                            "population": 5675249000
                          },
                          {
                            "name": "Least developed countries",
                            "population": 838807000
                          },
                          {
                            "name": "Less developed regions, excluding least developed countries",
                            "population": 4836442000
                          }
                        ];
        $scope.sortField = 'population';
        $scope.reverse = true;
      });
    </script>
  <div ng-controller="CountryCtrl">
    Search:<input ng-model="query" type="text"/>
    <table>
      <tr>
        <th><a href="" ng-click="sortField ='name'; reverse = !reverse">Country</a></th>
        <th><a href="" ng-click="sortField = 'population'; reverse = !reverse">Population</a></th>
      </tr>
      <tr ng-repeat="country in countries | filter:query | orderBy:sortField:reverse">
        <td>{{country.name}}</td>
        <td>{{country.population}}</td>
      </tr>
    </table>
  </div>
</div>


<br><br>EX 10: Navigation bar: ng-click, ng-hide, ng-show <br><br>

<div id="main" >
	<!-- The navigation menu will get the value of the "active" variable as a class.
		 The $event.preventDefault() stops the page from jumping when a link is clicked. -->

	<nav class="{{active}}" ng-click="$event.preventDefault()">

		<!-- When a link in the menu is clicked, we set the active variable -->
		<a href="#" class="home" ng-click="active='home'">Home</a>
		<a href="#" class="projects" ng-click="active='projects'">Projects</a>
		<a href="#" class="services" ng-click="active='services'">Services</a>
		<a href="#" class="contact" ng-click="active='contact'">Contact</a>
	</nav>

	<!-- ng-show will show an element if the value in the quotes is truthful,
		 while ng-hide does the opposite. Because the active variable is not set
		 initially, this will cause the first paragraph to be visible. -->

	<p ng-hide="active">Please click a menu item</p>
	<p ng-show="active">You chose <b>{{active}}</b></p>
</div>


<br><br>EX 10: Forms Here :(Get Json data)<br><br>
<div ng-controller="formController">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
    <button ng-click="reset()">RESET</button>
  </form>
  <p>form = {{user}}</p>
  <p>master = {{master}}</p>
</div>

<script>
function formController ($scope) {
    $scope.master = {firstName: "John", lastName: "Doe"};
    $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
    $scope.reset();
};
</script>

<br><br>EX 2: Form With Validation <br><br>

<h2>Validation Example</h2>
<form   ng-controller="validateCtrl" name="myForm" novalidate>
<p>Username:<br>
  <input type="text" name="user" ng-model="user" required>
  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
</p>

<p>Email:<br>
  <input type="email" name="email" ng-model="email" required>
  <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
</p>

<p>
  <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
</p>
</form>

<script>
function validateCtrl($scope) {
    $scope.user = 'John Doe';
    $scope.email = 'john.doe@gmail.com';
}
</script>


<br><br>EX 2: Auto add Forms <br><br>
<div ng-controller="userController">

<div class="container">
<h3>Users</h3>
<table class="table">
  <thead><tr>
    <th>Edit</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>
        <button class="btn" ng-click="editUser(user.id)">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
        </button>
      </td>
      <td>
      <!-- $index is import -->
        <button class="btn" ng-click="delUser($index)">DEL</button>
      </td>
      <td>{{ user.fName }}</td>
      <td>{{ user.lName }}</td>
    </tr>
  </tbody>
</table>

<hr>
<button class="btn btn-success" ng-click="editUser('new')">Create New User</button>
<hr>

<h3 ng-show="edit">Create New User:</h3>
<h3 ng-hide="edit">Edit User:</h3>

<form >
First Name:<input type="text" ng-model="fName" ng-disabled="!edit" placeholder="First Name">
Last Name: <input type="text" ng-model="lName" ng-disabled="!edit" placeholder="Last Name">
Password:<input type="password" ng-model="passw1" placeholder="Password">
Repeat:<input type="password" ng-model="passw2" placeholder="Repeat Password">
</form>
<button class="btn btn-success" ng-disabled="error || incomplete" ng-click="save_now()"> Save Changes</button>

</div>
</div>

<script>
function userController($scope) {
  /* Initialize */
  $scope.fName = '';
  $scope.lName = '';
  $scope.passw1 = '';
  $scope.passw2 = '';
  $scope.users = [
  {id:1, fName:'Hege',  lName:"Pege" },
  {id:2, fName:'Kim',   lName:"Pim" },
  {id:3, fName:'Sal',   lName:"Smith" },
  {id:4, fName:'Jack',  lName:"Jones" },
  {id:5, fName:'John',  lName:"Doe" },
  {id:6, fName:'Peter', lName:"Pan" }
  ];
  $scope.edit = true;
  $scope.error = false;
  $scope.incomplete = false; 
  /* Edit user func */
  $scope.editUser = function(id) {
    if (id == 'new') {
      $scope.edit = true;
      $scope.incomplete = true;
      $scope.fName = '';
      $scope.lName = '';
      } else {
      $scope.edit = false;
      $scope.fName = $scope.users[id-1].fName;
      $scope.lName = $scope.users[id-1].lName; 
    }
  };
  /* Watch if some change perform test */
  $scope.$watch('passw1',function() {$scope.test();});
  $scope.$watch('passw2',function() {$scope.test();});
  $scope.$watch('fName', function() {$scope.test();});
  $scope.$watch('lName', function() {$scope.test();});
  
  $scope.test = function() {
    if ($scope.passw1 !== $scope.passw2) {
      $scope.error = true;
      } else {
      $scope.error = false;
    }
    $scope.incomplete = false;
    if ($scope.edit && (!$scope.fName.length ||  !$scope.lName.length || !$scope.passw1.length || !$scope.passw2.length)) {
         $scope.incomplete = true;
    }
  };
  /* save now */
  $scope.save_now = function(){
  console.log("Sace...");
  $scope.users.push({id:$scope.users.length+1, fName:$scope.fName,  lName:$scope.lName });
  };
  
  /* Del User */
    $scope.delUser = function(idx) { $scope.users.splice(idx, 1); };
}
</script>




<br><br>EX 2: My Notes Applications <br><br>

<div ng-controller="myNoteCtrl">
  <h2>My Note</h2>
  <p><textarea ng-model="message" cols="40" rows="10"></textarea></p>
  <p>
  <button ng_click="save()">Save</button>
  <button ng-click="clear()">Clear</button>
  </p>
  <p>Number of characters left: <span ng-bind="left()"></span></p>
</div>
<script >
function myNoteCtrl($scope) {
    $scope.left  = function() {return 100 - $scope.message.length;};
    $scope.clear = function() {$scope.message = "";};
    $scope.save  = function() {alert(" Saved");};
}
</script>

<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>
<br><br>EX 2:<br><br>

</body>
</html>


