/* toothstrap.scss defines a common css style */
/*Style guideline */
.font, .title-text-head, #big-info-box .title, .title-text-sub, .title-text-small, body {
  font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
  font-size: 14px;
  color: #777; }

.title-text-head, #big-info-box .title {
  font-size: 19px;
  color: #3BB9FF; }

.title-text-sub {
  font-size: 16px; }

.title-text-small {
  font-size: 10px; }

body {
  background: white; }

/*End of Style guideline */
/*----------Default Overwrite Styles -----------*/
ul, p {
  margin: 0;
  padding: 0; }

li {
  display: inline-block; }

.hide {
  display: none; }

.show {
  display: block; }

._inline {
  display: inline; }

._block {
  isplay: block; }

a {
  text-decoration: none;
  cursor: pointer; }

.box, #div-nav-bar.underline-scroll, #div-nav-bar.side-nav, #big-info-box {
  border: 1px solid #E5E5E5;
  background: white;
  /*No padding Here */ }

.rbox {
  border: 1px solid #E5E5E5;
  background: white;
  /*No padding Here */ }

.border-bottom, #div-nav-bar.underline-scroll .header, #div-nav-bar.underline-scroll .menu, #div-nav-bar.side-nav .header {
  border-bottom: 1px solid #E5E5E5; }

/*  End of Default Overwrite Styles */
/*---------------Component Styles ---------------- */
/* btn */
.p-btn {
  display: inline-block;
  border: 1px solid #E5E5E5;
  line-height: 21px;
  padding: 10px 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  background: #BDEDFF;
  color: white; }

.s-btn {
  display: inline-block;
  border: 1px solid #E5E5E5;
  line-height: 21px;
  padding: 10px 16px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  background: transparent;
  color: #777; }

.p-btn:hover {
  background: transparent;
  color: #fff; }

.s-btn:hover {
  background: #fff;
  color: white; }

.p-btn-s1 {
  color: white;
  border: 2px solid #3BB9FF;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  background: white;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in; }

.p-btn-s1:hover {
  background: #3BB9FF;
  border: 2px solid white;
  color: white; }

/* div nav bar */
#div-nav-bar.underline-scroll {
  width: 300px; }
  #div-nav-bar.underline-scroll .header {
    text-align: center;
    padding: 10px 0; }
  #div-nav-bar.underline-scroll .menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #div-nav-bar.underline-scroll .menu li {
    display: inline-block;
    padding: 6px 12px; }
  #div-nav-bar.underline-scroll .menu a {
    text-decoration: none; }
  #div-nav-bar.underline-scroll .data {
    margin: 10px 0; }
  #div-nav-bar.underline-scroll li.active {
    border-bottom: 2px solid green; }

/*--- Side nav --*/
#div-nav-bar.side-nav {
  width: 300px;
  position: relative; }
  #div-nav-bar.side-nav .header {
    text-align: center;
    padding: 10px 0; }
  #div-nav-bar.side-nav .menu {
    display: inline-block;
    top: -22px;
    position: relative; }
    #div-nav-bar.side-nav .menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    #div-nav-bar.side-nav .menu li {
      display: block;
      padding: 6px 12px; }
    #div-nav-bar.side-nav .menu a {
      text-decoration: none; }
  #div-nav-bar.side-nav .data {
    display: inline-block;
    margin: 10px 0;
    left: -3px;
    position: relative; }
  #div-nav-bar.side-nav li.active {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-left: 2px solid green; }

/* big-info-box */
#big-info-box {
  padding: 10px;
  height: 200px;
  width: 150px; }
  #big-info-box:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-color: #3BB9FF; }
  #big-info-box .title {
    margin-top: 50%; }

/* PopUps */

/*# sourceMappingURL=toothstrap.css.map */
