<html>
  <head>
  <title> {{name}} | cleanCode </title>


    <link rel="stylesheet" type="text/css" href="/media/css/concat.css"> 
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/media/css/texfonts.css">
    <script src="/media/js/jquery.min.js"></script>
    <script src="/media/js/concat.js"></script>
    <script src="/media/js/angular.min.js"></script>
  <style>
     body{border: 1px solid #5bc0de;border-top:0; height: auto;}
    .container{height: 100%;}    


.title {
    background: #5bc0de;
    font-family: Verdana;
    font-size: 12px;
    height: 18px;
    letter-spacing: 3px;
    padding: 1px;
    text-align: center;
    color: #fff;
}

    .left{
      width: calc(50% - 1px);
      padding:2px;
      height:100%;
      display:inline-block;
      
    }
    .right{
      display: inline-block;
      float: right;
	  overflow:auto;
      height: 100%;
      padding: 5px 15px;
      width: 50%;
    }
    .iview{
	  color: black;
    display: block;
    white-space: pre-line;
    padding-bottom: 8px;
    font-family: 'cmr10';
    font-size: 100%;
    line-height: 120%;
}
.iview c{
    border-color: #5bc0de;
    //border-radius: 7px;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    display: block;
    font-family: courier new;
    padding: 10px;
    width: 100%;
    text-align: left;
    font-size: 10px;
    margin: 10px 0;
}
  </style>

</head>


<body>
<div class="container">
  <div class="title"> {{id}}# {{name}} : {{short_desc}} </div>
  <div style="display:inline-block; width:100%;height:calc( 100% - 18px);">
    <div class="left">
      <textarea id="c-code1">{{main}}</textarea>
    </div>
    
    <div class="right latex" id="right">
      <div class="ishow">
        <div align="justify" class="iview"> {% autoescape off %}{{full_desc}} {% endautoescape %}</div>
        <div align="justify" class="iview"> {% autoescape off %}{{intro}}{% endautoescape %}</div>
        {% autoescape off %}{{solution}}{% endautoescape %}
        <div class="iview"> Hope you enjoy it ... </div> 
      </div>
      <div class="iedit" style=" display:none">
<textarea rows="4" cols="50" style="width:100%;height:100%" id="combine-data">
P: problem
A: Algorithms
L#1-12: line 1 to 12
L#13-14: 14 to 15
</textarea>
      </div>
    </div>
  </div>
</div>
<div class="" style="position: absolute;top: 5px;right: 10px;">
        <button style="display:none" class="save" onclick="
        $.post( 'save/', { combine: $('#combine-data').val() })
          .done(function( data ) {
            if(data.status=='error'){
              alert('Error:'+data.msg+'\nsys_error:'+data.sys_error)
            }
            console.log( 'Data Loaded: ' + data );
          });
          $('.edit').show();$('.save').hide();$('.ishow').show(); $('.iedit').hide();
        ">Save</button> 
         <button class="edit" onclick="
          $.get( 'save/')
          .done(function( data ) {
            $('#combine-data').val(data.combine); 
          });
         $('.edit').hide();$('.save').show();$('.ishow').hide(); $('.iedit').show();">Edit</button> 
</div>

<script src="http://codemirror.net/lib/codemirror.js"></script>
<script src="http://codemirror.net/addon/edit/matchbrackets.js"></script>
<script src="http://codemirror.net/mode/clike/clike.js"></script>
<link rel="stylesheet" href="http://codemirror.net/addon/scroll/simplescrollbars.css">
<script src="http://codemirror.net/addon/scroll/simplescrollbars.js"></script>

<script>
  var cEditor = CodeMirror.fromTextArea(document.getElementById("c-code1"), {
    lineNumbers: true, 
    matchBrackets: true,
    readOnly: true,
    viewportMargin: Infinity,
    mode: "text/x-csrc",
    scrollbarStyle: "simple"
  });
  console.log(cEditor)
</script>
<style>
.CodeMirror {
  //border: 1px solid #eee;
  height: auto;
}
.CodeMirror-code > div{
  line-height: 1.5;
}
</style>

<script>
//GoToLineAnimation
function goToLine(i){
  
  h = $('.CodeMirror-code > div').height()
  $('.CodeMirror-scroll').animate({scrollTop:h*(i-1)}, '500');

}
//goToLine(10)


  function mySplit(str){
    try {
       str = str.split(",");
       console.log(str)
       o =[]
       for(ii=0;ii<str.length;ii++){
         t = str[ii]
         idx = t.indexOf("-")
         console.log(idx);
         if(idx > -1){
           for(j=parseInt(t.substr(0,idx));j<=parseInt(t.substr(idx+1,t.length));j++){
               o.push(j);
           }
         }
         else{
           o.push(parseInt(t))
         }
       }
       
       return o;
    }
    catch(err) {
     console.log('Error in mySplit():'+str+o)
     alert(' Error! We are not able to do iView :( ')
    }
  }
/* My expand will expand a list of for code editor line number */
var myExpand = (function (a) {
  a=a.split('/')
  var s=[]
  for (k=0;k<a.length;k++)
    s.push(mySplit(a[k]));
  return s;
});


function heightlight(loc){
   $( ".CodeMirror-code > div ").css('background','white')
   for ( i = 0;i<loc.length;i++){
     $( ".CodeMirror-code > div:nth-child("+loc[i]+")" ).css('background','lightyellow')	 
   }
}
function noheightlight(){
  $( ".CodeMirror-code > div").css('opacity', '1')
  $( ".CodeMirror-code > div ").css('background','white')
}
function hideCodeSeg(loc){
   for ( i = 0;i<loc.length;i++){
     $( ".CodeMirror-code > div:nth-child("+loc[i]+")" ).css('opacity', '.2')
   }
}
function showCodeSeg(loc){
   for ( i = 0;i<loc.length;i++){
     $( ".CodeMirror-code > div:nth-child("+loc[i]+")" ).css('opacity', '1')	 
   }   
}
/* Validate everything before you run! */
function validate(){
  var valid =1;
  $('.codeExp').each(function(i){
    rule= $(this).attr('target')
    if (rule.match("^[0-9-,]*$")== null){
      valid = 0;
      alert('Invalid target value!')
    }
    
  });
  if(valid ==0){
      alert('iview will not work due to some error');
  }
}

$( document ).ready(function() {
    console.log( "ready!" );
	$('.iview').hide();

  
  //Auto assigning ID like : 1,2,3... 
  $('div.iview').each(function(i) {
      $( this ).addClass( ''+(i+1) );
    });
  validate();
});

var curIdx= 0; //display desc
function eduNext(){
   if($('.iview.'+(curIdx+1))[0] == undefined){return;}
   curIdx++;
   var now = $('.iview.'+curIdx)
   now.fadeIn();
   
   //is it a code Explanation ?
   if (now.hasClass('codeExp')){
     if(curIdx == 3){ //meaans first expnation..
       $( ".CodeMirror-code > div").css('opacity', '.2')
	   }
     lo = mySplit(now.attr('target'));
     goToLine(lo[0]);
	   showCodeSeg(lo); 
     setTimeout(heightlight(lo),1000);
   }
   
   //fix height
   $('#right').animate({scrollTop: document.getElementById("right").scrollHeight}, 1000);
}

function eduPrev(){
   if(curIdx == 0 ) return;
   var now = $('.iview.'+curIdx)
   now.fadeOut();
   
   if (now.hasClass('codeExp')){
     lo = mySplit(now.attr('target'));
     hideCodeSeg(lo); 
  }
  curIdx--;
  //we need to heighlight previous section..
  var now = $('.iview.'+curIdx)
   if (now.hasClass('codeExp') ){
     lo = mySplit(now.attr('target'));
     goToLine(lo[0])
     setTimeout(heightlight(lo), 600);
  }
  //we yet not reach to the codeExp..
  if(curIdx == 2){       
       noheightlight();
	}
	$('#right').animate({scrollTop: document.getElementById("right").scrollHeight}, 1000);
}

// code for iterative Education..
  addEventListener("keydown", function(event) {
    if (event.keyCode == 39 //|| event.keyCode== 40
	){
	eduNext();
	}
	if (event.keyCode == 37 //|| event.keyCode== 38
	){
	eduPrev();
	}
  });

</script>


</body>
</html>
