<html>
<head>
    <title >{% block title %} Welcome to SampleProject By Django {% endblock %}</title>
    {% include 'includes/header.html' %} <!-- TO BE REMOVED -->
</head>

<body id="{{PageID}}">
    <div class="wrapper">
        <div class="header">
            <div class="top1">{% block top1%}{% endblock %} </div>
            <div class="top2">{% block top2%}{#  include 'includes/homeTopPromo1.html' #}{% endblock %} </div>
            <div class="top3">{% block top3 %}{#  include 'includes/nav.html' #}{% endblock %}</div>
        </div>
        <div class="container">
            <div class="left">
                <div class="left1">{% block left1 %}{% endblock %} </div>
                <div class="left2">{% block left2 %}{% endblock %} </div>
                <div class="left3">{% block left3 %}{% endblock %} </div>
            </div>
            <div class="center">
                <div class="center1">{% block center1%}{% endblock %}</div>
                <div class="center2">{% block center2%}{% endblock %}</div>
                <div class="center3">{% block center3%}{% endblock %}</div>
                <div class="center4">{% block center4%}{% endblock %}</div>
                <div class="center5">{% block center5%}{% endblock %}</div>
                <div class="center6">{% block center6%}{% endblock %}</div>
            </div>
            <div class="right">
                <div class="right1">{% block right1 %}{% endblock %}</div>
                <div class="right2">{% block right2 %}{% endblock %}</div>
                <div class="right3">{% block right3 %}{% endblock %}</div>
            </div>
        </div>
        <div class="footer">
            <div class="bottom1">{% block bottom1 %}{% endblock %} </div>
            <div class="bottom1">{% block bottom2 %}{% include 'includes/footer.html' %} {% endblock %}</div>
            <div class="bottom3">{% block bottom3 %}{% endblock %} </div>
        </div>
    </div>
</body>
</html>
