<!--
Author : Dipankar
* This is contails all css js for Whole Website
Please add any CSS or JS to be used
-->
<link rel="stylesheet" type="text/css" href="/media/css/base.css">
<link rel="stylesheet" type="text/css" href="/media/css/StyleMaster.css">
<link rel="stylesheet" type="text/css" href="/media/css/overwrite.css">

<script type="text/JavaScript" src="/media/js/jquery-1.7.2.min.js"></script>

<script type="text/JavaScript" src="/media/js/base.js"></script>
<script type="text/JavaScript" src="/media/js/ajax.js"></script>


