<html>

<head> 
<title> Angular JS test ( with Angulat Module) </title>

  <link rel="stylesheet" type="text/css" href="/media/css/concat.css">
    <script src="/media/js/jquery.min.js"></script>

  <script src="/media/js/angular.min.js"></script>
  <script src="/media/js/concat.js"></script>

<!---------------------------  Write Your style here ----------------------->
<style>
table,td,th{border:1 solid red}
i{padding: 4px;
vertical-align: baseline;}
</style>
<!---------------------------  Write Your style here ----------------------->

<!---------------------------  Write Your Script here ----------------------->
<script>
var myApp = angular.module("myApp", []);
myApp.filter('range', function() {
  return function(input, total) {
    total = parseInt(total);
    for (var i=0; i<total; i++)
      input.push(i);
    return input;
  };
});

/***************  Sample Controller ********************/
myApp.controller("sampleCtrl", function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
/**************** tale Sort *****************************/
myApp.controller('sortCtrl', function($scope) {
  $scope.orderByField = 'firstName';
  $scope.reverseSort = false;

  $scope.data = {
    employees: [{
      firstName: 'John',
      lastName: 'Doe',
      age: 30
    },{
      firstName: 'Frank',
      lastName: 'Burns',
      age: 54
    },{
      firstName: 'Sue',
      lastName: 'Banter',
      age: 21
    }]
  };
});

/*########################  This Basically All Example Together #########################
########################################################################################*/

myApp.controller("customersController",  function ($scope,$http) {

/************ getting Mini data *****************/
//Define data Strucryre Here...
$scope.item ={}
$scope.item_list ={}
$scope.ref_list_items =[]
/*********************  get MiniView *****************/
$scope.getMiniView=function(a) {
  $http.get("/api/book/mv/?page="+a+"")
      .success(function(data, status, headers, config) {
        $scope.item_list = data.res;
        $scope.status = data.status; $scope.msg=data.msg
        $scope.orderByField = 'id';
        $scope.reverseSort = false;
      })
      .error(function(data, status, headers, config) { console.log('Error happen with status:'+status) });  
}
$scope.getMiniView(1);
/************ getting data for an Item *****************/
$scope.getItem = function(a) {
     $http.get("/api/book/"+a+"/")
    .success(function(data, status, headers, config) {
      console.log(data)
      $scope.item = data.res;
      $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) {console.log('Error happen with status:'+status)}); 
  }

/************ getting log History for an Item *****************/
$scope.getHistory = function(a) {
     $http.get("/api/book/"+a+"/")
    .success(function(data, status, headers, config) {
      $scope.ref_list_items = data.res.log_history;
      $scope.ref_item = {}
      $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) { console.log('Error happen with status:'+status)}); 
  }
$scope.getAuthors = function(a) {
     $http.get("/api/book/"+a+"/author/")
    .success(function(data, status, headers, config) {
      $scope.ref_list_items = data.res;
      $scope.ref_item ={}
      $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) { console.log('Error happen with status:'+status)}); 
  }
$scope.getPub = function(a) {
     $http.get("/api/book/"+a+"/publication/")
    .success(function(data, status, headers, config) {
      $scope.ref_item = data.res;
      $scope.ref_list_items = {};
      $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) { console.log('Error happen with status:'+status)}); 
  }

/************ creating data  *****************/
$scope.createItem = function(a) {
    console.log($('form#book').serialize())
    $http({
          method: "post",
          url: '/api/book/',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
          data:$('form#book').serialize()
    })
    .success(function(data, status, headers, config) {
     $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) {

    }); 
}

/************ creating data  *****************/
$scope.updateItem = function(a) {
    $http({
          method: "post",
          url: '/api/book/'+$scope.item.id+'/',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
          data:$('form#book').serialize()
    })
    .success(function(data, status, headers, config) {
     $scope.status = data.status; $scope.msg=data.msg
    })
    .error(function(data, status, headers, config) {

    }); 
}

$scope.deleteItem = function(a){
  $http.delete("/api/book/"+a+"/")
      .success(function(data, status, headers, config) {
        $scope.item_list = data;
        $scope.status = data.status; $scope.msg=data.msg
      })
      .error(function(data, status, headers, config) {
        console.log('Error happen with status:'+status)
      });  
}
/*************** reset ***********************/
$scope.resetItem = function() {
  $scope.getItem($scope.item.id)
}
  
 
/************ updating data  *****************/
});

/*########################  End of BigExample ##########################################
########################################################################################*/

</script>
<!--------------------------- End Your Script here ----------------------->

</head>
<body>
<pre>

- Stdard ; We have an Apps and Moudle of angulat JS
- AJAX Request Handling.

</pre>

<br><hr> 3. Some Experiment Will be Here..<hr><br>

<br><hr> 3. Some Experiment Will be Here..<hr><br>

<br><hr> 3. Some Experiment Will be Here..<hr><br>

<br><hr> 3. Some Experiment Will be Here..<hr><br>

<br><hr> 3. Some Experiment Will be Here..<hr><br>

<br><hr> 3. Some Experiment Will be Here..<hr><br>



<br><hr> 3. Big Example All together <hr><br>

<div ng-app="myApp" ng-controller="customersController" style="border: 1px solid blue;margin: 10px;position: relative;">
<!-- This is for Message -->
    <p class="{{status}}" style="background:yellow; padding: 10px 0;">{{msg}}</p>
    
<!-- this for Miniview Serach Result -->
  <div class="left">
    <table ng-show="item_list.data">
        <tr>
            <th ng-repeat="(key, val) in item_list.data[0]">
            <a href="#" ng-click="orderByField=key; reverseSort = !reverseSort">
            {{key}}<i class="fa" ng-class="reverseSort? 'fa-sort-up' : 'fa-sort-down'"></i>
            </a>
            {{orderByField}}
            </th>
        </tr>
        <tr ng-click="getItem(item.id)" ng-repeat="item in item_list.data|orderBy:orderByField:reverseSort">
            <td ng-repeat="(key, val) in item">{{val}}</td>
            <td>
                <button ng-click="deleteItem(item.id)">del</button>
                <button ng-click="getHistory(item.id)">history</button>
                <button ng-click="getAuthors(item.id)">getAuthor</button>
                <button ng-click="getPub(item.id)">getPub</button>
           </td>
        </tr>
    </table>
    <!-- this for pagination -->
    <div>
      <button ng-repeat="n in [] | range:item_list.max" ng-click="getMiniView($index+1)">{{$index+1}}</button>
    </div>  
  </div>
  
  <!--- print Refer List of Item : ref_list_items -->
  <div class="list" style="position: absolute;right: 47px;top: 44px;">
    History:
    <table ng-show="ref_list_items">
        <tr>
            <a href="#" ng-click="orderByField=key; reverseSort = !reverseSort">
            <th ng-repeat="(key, val) in ref_list_items[0]">{{key}}</th>
        </tr>
        <tr ng-repeat="item in ref_list_items">
            <td ng-repeat="(key, val) in item">{{val}}</td>
        </tr>
    </table>
  </div>

  <!--- print Refer of Item (Single Item) : ref_item -->
  <div class="list" style="position: absolute;right: 47px;top: 44px;">
    Single Item
    <table ng-show="ref_item">
         <tr ng-repeat="(key, val) in ref_item">
           <td>{{key}}</td>
           <td>{{val}}</td>
         </tr>
    </table>
  </div>
  
  <!-- print the Details /Full View of a Item -->
  
  <div class="right">  
    <form id="book" name="form1" novalidate>
      <table>
      <tr><td>id:</td><td><input name ="id" type="text" ng-model="item.id"/></td> </tr>
      <tr><td>Publication: </td><td><input name ="publication" type="text" ng-model="item.publication"/></td></tr>
      <tr><td>Name: </td><td><input name ="name" type="text" ng-model="item.name"/></td></tr>
      <tr><td>reg: </td><td><input name ="reg" type="text" ng-model="item.reg"/></td></tr>
      <tr><td>tag1: </td><td><input name ="tag1" type="text" ng-model="item.tag1"/></td></tr> 
      <tr><td>tag2: </td><td><input name ="tag2" type="text" ng-model="item.tag2"/></td></tr>
      </table>
      <button ng-click="resetItem()">RESET</button>
      <button ng-click="createItem()">CopyCrete</button>
      <button ng-click="createItem()">NewCrete</button>
      <button ng-click="updateItem()">Update</button>
    </form>
  </div> 
</div>
<!----- End of Big Example -->



<br><hr> 3. table Sort<hr><br>

<section ng-app="myApp" ng-controller="sortCtrl">
  <span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="orderByField='firstName'; reverseSort = !reverseSort">
          First Name <span ng-show="orderByField == 'firstName'"><i class="fa" ng-class="reverseSort? 'fa-sort-up' : 'fa-sort-down'"></i><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='lastName'; reverseSort = !reverseSort">
            Last Name <span ng-show="orderByField == 'lastName'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="orderByField='age'; reverseSort = !reverseSort">
          Age <span ng-show="orderByField == 'age'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="emp in data.employees|orderBy:orderByField:reverseSort">
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.age}}</td>
      </tr>
    </tbody>
  </table>
</section>
<br><hr> 2. Mutile Apps and Multiple Congtrol <hr><br>
http://stackoverflow.com/questions/16342603/how-to-run-two-separate-angular-js-apps-in-the-same-page
  
<br><hr> 1. Example of sampleCtrl <hr><br>
<div ng-app="myApp" ng-controller="sampleCtrl">{{ firstName + " " + lastName }}</div>


</body>
</html>