<html ng-app="myApp">
<!-- TODO -----
Edit in Middle.
Correct interpretation <br>hello<br> ==>hello ==> beng ==><br>beng<br>
Adding aligh and list icon.
AutoSave
Model integration
---- End of TODO -->
<head> 
<title> Write Clean Code | Compile and Run</title>

  <link rel="stylesheet" type="text/css" href="/media/css/concat.css">
  <script src="/media/js/jquery.min.js"></script>
  <script src="/media/js/concat.js"></script>
  <script src="/media/js/angular.min.js"></script>
  
  // Introduce multiple edit.
  <script src="/media/js/client-side.js"></script>
  <script src="/media/js/diff_match_patch.js"></script> 
  <script type="text/javascript" src="/media/js/socket.io.js"></script>
	<style type='text/css'>
textarea:focus{
  border-color:#333;
}

	</style>
  
<style>
</style>
</head>

<body ng-controller="CodeController">


<!-- Unique Clean Design -->
<style>
.container{width: 100%;height: 100%;}
.left{float: left;
height: 100%;
width: 80%;
}
.right{height: 100%;
width: 20%;
float: right;}
.editor{
height: 90%;
width: calc(100% - 10px);
margin: 5px;
}
.container .sec{
padding: 2px 12px;
border-bottom: 1px gray solid;}
.c_edit{position: relative;}
.line-nums{
  font-size: 13px;
  line-height: 13px;
  padding: 10px 6px;
  font-family: monospace;
  background: #EEE;
  position: absolute;
  width: 30px;
  left: 6px;
  bottom: 10px;
  top: 0px;
  text-align: right;
  border: 1px solid #999;
  border-right: 0;
  line-height: 1.5;
}
textarea {
height: 100%;
overflow: auto;
line-height: 13px;
font-size: 13px;
border: 1px solid #999;
padding: 10px;
font-family: monospace;
display: block;
outline: none;

margin: 5px;
margin-left: 36px;
width: calc(100% - 41px);
height: calc(100% - 10px);
line-height: 1.5;
}
.sec{height:25px;}
.main{height: 15%;}
.input{height: 10%;}
.output{height: 15%;}
.func{height: calc(75% - 92px);}

.group-btn .btn{
min-height: 12px !important;
min-width: 61px !important;
padding: 5px 6px !important;
border-radius: 0 !important;
}
.hover-icon{text-align: right;}
.hover-icon button{
  background: transparent; border: 0;  
}

/***** ping menu ******/
.ping-menu{
  position: fixed;
  background:white;
  top: -148px;
  z-index: 3;
  border-bottom: 3px red solid;
  width: 100%;
  height: 150px;
  transition: all 0.3s linear;
}
.ping-menu:hover{top: 0px; }
.ping-menu:after{
    background: none repeat scroll 0 0 red;
    border-radius: 0 0 20px 20px;
    bottom: -10px;
    content: "";
    height: 10px;
    left: calc(50%);
    position: absolute;
    width: 69px;
}
.ileft , .iright{display: inline-block;}
.iright{float:right}
.ping-menu .sec {
  display: inline-block;
  margin: 2px;
  height: 97%;// calc(100% - 4px);
  width:150px;
  overflow:auto;
}
.ping-menu .sec p{ border-bottom:1px solid gray; padding: 5px;}
.ping-menu .sec li{ display:block;}
li, ol {
  list-style-type: decimal;
  padding: 5px;
  cursor: pointer;
}

.group-input .group span {
    padding-left: 6px;
    padding-right: 0;
    top: 7px;
}
.group-input input[type="radio"], .group-input input[type="checkbox"], .group-input textarea[type="radio"], .group-input textarea[type="checkbox"], .group-input select[type="radio"], .group-input select[type="checkbox"] {
    margin: 0 5px;
}
.sidebar-popup.right {    right: -500px; }
.table td {padding: 13px;}
.group-btn.horz a, .group-btn.horz button {
margin-left: -1px;
}
</style>
<!-- Start of Top Stylish menu -->
<div class="ping-menu">
   <div class="ileft"> 
     <div class="box sec thin_sc"> 
        <p>Templates</p> <ol id="templates"></ol>
     </div>

    <div class="box sec thin_sc"> 
        <p>Recent Items</p><ol id="recent"></ol>
     </div>
     
    <div class="box sec thin_sc"> 
        <p>Favourites</p><ol id="recent"></ol>
     </div>
   </div>   
   <div class="iright">

    <div class="box sec thin_sc"> 
        <p>Settings </p> <ol id="recent"></ol>
     </div>

    <div class="box sec thin_sc"> 
        <p>Account</p> <ol id="recent"></ol>
     </div>
   </div>
</div>
<!-- End of Top Menu--->

<!-- Main Editor is here -->
<div class="container">
  <div class="left" style=" width: calc(100% - 400px);">
    <div class="editor box" style=" height: calc(100% - 10px);">
      <div class="sec"> Problem #<span id="id">{{cur.id}}</span>: <b><span id="name">{{cur.name}}</span> </b>:<span id="desc">{{cur.short_desc}}</span></div>
      <div class="c_edit func">
        <div class="line-nums"><span>1.</span></div>
        <textarea id="func" ng-model="cur.func" placeholder="Write your Source Code Here "></textarea>
      </div>
      <div class="c_edit main" style="margin-top: -6px;">
        <div class="line-nums"><span>1.</span></div>
        <textarea id="main" ng-model="cur.main" placeholder="Write your Driver code Here"></textarea>
      </div>
      <div class="c_edit input">
        <div class="line-nums"><span>1.</span></div>
        <textarea id="input" ng-model="cur.input" placeholder="Write your program input here"></textarea>
      </div>
      <div class="c_edit tools" style="margin: 10px;">
        <div class="" style="position: absolute;right: 0px;">
          <button class="btn warn" onclick="command('perf');">Perf</button>
          <button class="btn error" onclick="command('compile'); ">Compile</button>
          <button class="btn primary" onclick="command('run');">Run</button>
        </div>
        <div class="group-btn horz" style="position: absolute;left: 0px;">
          <button class="btn default">New</button>
          <button class="btn default">Fork</button>
          <button class="btn default" onclick="toggleClass('#Collaboration','show')" >Collaboration</button>
          <button class="btn default" onclick="toggleClass('#browsebox','show')" >Browse</button>
          <button class="btn default" onclick="toggleClass('#savebox','show')">Save</button>
        </div>
      </div>      
    </div>
  </div>
  <div class="right box" style=" height: calc(100% - 10px); width: 390px; margin:5px; overflow:auto">
      <p class="p f16 bar">[  Solution  ]</p>
      <div id="output" style="height: 80%; overflow:auto;padding:5px;"> </div>
  </div>
</div>
<!-- End of Editot --->

<!-- Start of Save Box -->
<div style="background: white;  color: black; min-height: 100px; overflow-x: hidden;
    width: 411px;" id="savebox" class="sidebar-popup right box scrollbar"> 
  <!-- This is for Message -->
  <div class="group-btn horz text-only separated">
    <button ng-click="AngularAjaxCommand('code','create',{},create_cb,'')">Save</button>
    <button ng-click="AngularAjaxCommand('code','get',{},create_cb,'')">Reset</button> 
    <button ng-click="AngularAjaxCommand('code','update',{},create_cb,'')">Update</button> 
    
    <button onclick="removeClass('#savebox','show')">Close</button>
  </div>
<form name="saveForm" id="saveForm">
  <fieldset class="group-input">
    <legend>Please take sometime to save this form.</legend>
    <input type="hidden" name="id" placeholder="just a ID" ng-model="cur.id">
    <input type="text" name="name" placeholder="One Word Name" ng-model="cur.name">
    <input type="text" name="short_desc" ng-model="cur.short_desc"placeholder="OneLiner Desc">
    <textarea cols="30" rows="10" name="full_desc"  ng-model="cur.full_desc" placeholder="Enter Full Desc"></textarea> 
    <textarea cols="30" rows="10" name="solution" ng-model="cur.solution"  placeholder="Enter Full solution Algo"></textarea>
    <span>level:</span><div class="group">
      <input type="radio" checked="" name="level" value="Easy"><span >Easy</span>
      <input type="radio" name="level" value="Medium"><span >Medium</span>
      <input type="radio" name="level" value="Hard"><span >Hard</span>
    </div>
    <span>language:</span>
    <select name="language">
      <option value="C">C</option>
      <option value="CPP">CPP</option>
      <option value="JAVA">JAVA</option>
    </select>
    <div class="group"> 
      <input type="checkbox" value="DS" name="topic"><span >DS</span>
      <input type="checkbox" value="ALGO" name="topic"><span >ALGO</span>
      <input type="checkbox" value="String" name="topic"><span >String</span>
      <input type="checkbox" value="Array" name="topic"><span >Array</span>
      <input type="checkbox" value="Bit" name="topic"><span >Bit</span>
      <input type="checkbox" value="DP" name="topic"><span >DP</span>
      <input type="checkbox" value="Greedy" name="topic"><span >Greedy</span> 
      <input type="checkbox" value="Backtrack" name="topic"><span >Backtrack</span>
      <input type="checkbox" value="Recursion" name="topic"><span >Recursion</span>
      <input type="checkbox" value="Divide" name="topic"><span >Divide</span>
    </div>
  </fieldset>
</form>

</div>
<!-- End of Save Box -->

<!-- Start of Browse Div -->
<div style="background: white; color: black; min-height: 100px; overflow-x: hidden;
    width: 411px;" id="browsebox" class="sidebar-popup box right scrollbar"> 
    <div class="menu" style="border-bottom: 1px solid gray;padding-bottom: 5px;margin-bottom: 5px;">
      <button id="btn"  title="Change view" style="padding: 5px;margin: 3px;" ng-click="TreeViewtoggle = !TreeViewtoggle" ><i class="fa " ng-class="TreeViewtoggle?'fa-sitemap':'fa-list-ul '"></i></button> 
      <button id="btn" title="refresh" style="padding: 5px;margin: 3px;" onclick="searchRefreash();"> <i class="fa fa-spin fa-refresh"> </i> </button>
      <button id="btn" title="hide" style="float: right; padding: 5px;margin: 3px;"  onclick="removeClass('#browsebox','show')"><i class="fa fa-sign-out"></i>
</button>
  </div>
  <div class="browseList" ng-show="TreeViewtoggle" >
    <div class="group-input horz showicon">
       <p style="float:left;"><i class="fa fa-search"></i><input style="width:200px" name="query" placeholder="search"></p>
      <i class="fa fa-arrows-v"></i>
      <select name="limit" style="width:70px">
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
      </select>
    </div>
    <div class="group-btn horz text-only separated" style="position: absolute;top: 50px;right: 0;">  
      <button id="btn" style="height: 33px;" ng-click="PrevBrowseList()"><i class="fa fa-chevron-left"></i>
</button>    
      <button id="btn" style="height: 33px;"  ng-click="NextBrowseList()"><i class="fa fa-chevron-right"></i>
</button>

    </div>  
    <table id="table_miniview_Code" class="table striped hover" ng-show="item_list" >
       <tbody>
        <tr ng-repeat="item in item_list | orderBy:id:true| filter:query">
        <td> <span>Q.{{item.id}}. # .<b>{{item.name}} :</b>{{item.short_desc}}</span>
        
        <div class="group-btn horz text-only" style="margin: 0px; position: absolute; right:0;"><button  title="Download" ng-click="deleteItem(item.id)"><i class="fa fa-download"></i></button><button title="Edit" ng-click="populate(item.id)"><i class="fa fa-chain-broken fa-fw"></i></button><button title="Love it" ng-click="deleteItem(item.id)"><i class="fa fa-heart-o"></i></button><button title="Add to fev" ng-click="deleteItem(item.id)"><i class="fa fa-star-o"></i></button><button title="Delete" ng-click="delete(item.id)"><i class="fa fa-trash"></i></button></div>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="treemenu" id="browseTree" ng-hide="TreeViewtoggle" > </div>
</div>
<!-- End of Existing Code -->

<!-- Start of Collaboration Setting  -->
<div style="background: white; color: black; min-height: 100px; overflow-x: hidden;
    width: 411px;" id="Collaboration" class="sidebar-popup box right scrollbar"> 
    <div class="menu" style="border-bottom: 1px solid gray;padding-bottom: 5px;margin-bottom: 5px;">
      <button id="btn"  title="Change view" style="padding: 5px;margin: 3px;"  ng-click="TreeViewtoggle = !TreeViewtoggle" onclick="stopColaboration()" ><i class="fa " ng-class="TreeViewtoggle?'fa-sitemap':'fa-list-ul '"></i></button> 
      <button id="btn" title="refresh" style="padding: 5px;margin: 3px;" onclick="searchRefreash();"> <i class="fa fa-spin fa-refresh"> </i> </button>
      <button id="btn" title="hide" style="float: right; padding: 5px;margin: 3px;"  onclick="removeClass('#Collaboration','show')"><i class="fa fa-sign-out"></i>
</button>
  </div>
  <div class="Collaboration_list">
      <div> <b> MSG:::</b><div id="chat_msg" style="display: inline-block;"></div></div>
      <div> <b> Online:::: </b><div id="nicknames" style="display: inline-block;"></div></div>

      <div id="chat_box">
        <div id="nickname">
          <form id="set-nickname" class="wrap">
            <p>Please type in your nickname and press enter.</p>
            <input id="nick">
            <p id="nickname-err">Nickname already in use</p>
          </form>
        </div>

        <form id="send-message">
          <input id="message">
          <button>Send</button>
        </form>
      </div>
  </div>
</div>
<!-- End of Collaboration Div -->



<!-- End Unique Clean Design-->
	
	<script type='text/javascript' src="/media/js/behave.js"></script>
	<script type="text/javascript">
	
		window.onload = function(){
			
			/*
			 * This hook adds autosizing functionality
			 * to your textarea
			 */
       /*
			BehaveHooks.add(['keydown'], function(data){
				var numLines = data.lines.total,
					fontSize = parseInt( getComputedStyle(data.editor.element)['font-size'] ),
					padding = parseInt( getComputedStyle(data.editor.element)['padding'] );
				data.editor.element.style.height = (((numLines*fontSize)+padding))+'px';
			});
			*/
      
			/*
			 * This hook adds Line Number Functionality
			 */
			BehaveHooks.add(['keydown'], function(data){
				var numLines = data.lines.total,
					house = document.getElementsByClassName('line-nums')[0],
					html = '',
					i;
				for(i=0; i<numLines; i++){
					html += '<div>'+(i+1)+'.</div>';
				}
				house.innerHTML = html;
			});
			
			var editor = new Behave({			
          textarea: 		document.getElementById('func'),
          replaceTab: 	true,
			    softTabs: 		true,
			    tabSize: 		4,
			    autoOpen: 		true,
			    overwrite: 		true,
			    autoStrip: 		true,
			    autoIndent: 	true
			});
			
		};
    
/************ ajax call ***************/
function command(action){
  var func=$("#func").val()
  var name=$("#name").html()
  var main=$("#main").val()
  var input=$("#input").val()
  var url =''
  if (action=="compile"){ url = '/api/cleancode/compile/' }
  else if(action=="run"){ url = '/api/cleancode/run/' }
  else if (action=="perf"){ url = '/api/cleancode/perf/' }
  else{ url = '/api/cleancode/invalid/' }
  
  $.ajax({ 
    url: url,
    type: 'post',
    data: { "name":name,"code": main+func, "input": input },
    contentType: 'application/x-www-form-urlencoded; charset=utf-8',  
    processData: true,
    success: function( data, textStatus, jQxhr ){
      //console.log(data)
      output = data['output']
      $('#output').html('<pre>'+output+'</pre>')
    },
    error: function( jqXhr, textStatus, errorThrown ){
      //console.log( 'Error('+jqXhr.status+'): '+errorThrown ); 
    } 
  });
}

function getCodeObj(){
  return { 'func':$("#func").val(),'name':$("#name").html(),'main':$("#main").val(),'input':$("#input").val(),'id':$("#id").html()}
}
function setCodeObj(o){
  $("#func").val(o.func),$("#name").html(o.name),$("#main").val(o.main),$("#input").val(o.input);$("#id").val(o.id);
}

/**************  Code Templeting ***************/

var TEMPLATE = function () {
  this.codeTemplateList=[]
  this.myMap = new Map();
};

TEMPLATE.prototype.addTemplate = function (id,name,func,main,input) {
  var t = {id:id,name:name, func:func, main:main, input:input};
  this.codeTemplateList.push(t);
  this.myMap.set(id,t)
  //console.log("I have:::" + this.codeTemplateList);
  var _x= "<li onclick='select_temp("+id+");'>"+id+". "+name+"</li>";
  $( "#templates" ).append( _x);
};

TEMPLATE.prototype.print_all  = function (name,func,main,input) {
  for ( i in  this.codeTemplateList)
   {// console.log("I have:::" + i);
   }
};

TEMPLATE.prototype.select_temp  = function (id) {
  var _t = this.myMap.get(id);
  //console.log("select_temp:::" + _t.name);
   $("#id").val(_t.id)
  $("#func").val(_t.func)
  $("#name").html(_t.name)
  $("#main").val(_t.main)
  $("#input").val(_t.input)
};

var T = new TEMPLATE();
// adding templates here..
T.addTemplate(1,
  'hello1',
  '#include<stdio.h>\nint main(){\n    printf("Hello cleanCode!!! \\n");\n    return 0;\n}\n',
  '',
  ''); 
  
T.addTemplate(2,
  'hello2',
  'int fact(int a){\n    //Write your code here..\n}',
  '#include<stdio.h>\nint main(){\n printf("fact of %d is %d\\n",10,fact(10));\n return 0;\n}',
  '');

T.addTemplate(3,
  'input1',
  '#include<stdio.h>\nint main(){\n    int i;\n    float f;\n    char c[10];\n    \n    scanf("%d",&i);\n    scanf("%f",&f);\n    scanf("%s",c);\n    \n    printf("We read i= %d ;f= %f ;c= %s;",i,f,c);\n    return 0;\n}\n',
  '',
  '10\n10.55\nhello10');

  
T.addTemplate(4,
  'input2',
  '#include<stdio.h>\nint main(){\n    int i,n; char s[100]; \n    scanf("%d",&n);\n    for(i=0;i<n;i++){\n        fgets( s, 100, stdin );\n        puts(s);    \n    }\n    return 0;\n}\n',
  '',
  '3\nhello1 hello1\nhello2\nhello3');

  
T.addTemplate(5,
  'input3',
  '#include<stdio.h>\nint main(){\n  int n;\n  int *a =READ_INT_ARR(&n);\n  PRINT_INT_ARR(a,n); \n  return 0;\n}',
  '',
  '1 2 3 4 5 6 7  ');

T.addTemplate(6,
  'input4',
  '#include<stdio.h>\nint main(){\n  int **mat = READ_INT_2DARR(4,4);\n  PRINT_INT_2DARR(mat,4,4);\n  return 0;\n}',
  '',
  '10 20 30 40\n0   0  0  0\n10 10 10 10\n1   2  3  4');
  
$( document ).ready(function() {
    //T.select_temp(6);
    //console.log( "ready!" );
});
function select_temp(id){
  T.select_temp(id);
}

/************ end ajax call ***************/
/******  Angular Code Bind **********/
var myApp = angular.module("myApp", []);
/************ start of Code Controller*****************/
myApp.controller("CodeController",  function ($scope,$http,$sce) { 

    $scope.renderHtml = function (htmlCode) {
            return $sce.trustAsHtml(htmlCode);
    };
/************ Initialize all Data Variable. *****************/
  $scope.cur ={};
  $scope.cur.id=0;
  $scope.cur.name='Untitled'
  $scope.cur.short_desc="sample program"
  $scope.item_list ={}
  $scope.limit =10;
  
  $scope.serch_cur_page = 1;
  
  
  // Define generalized utility function
  $scope.getFullName = function (){
    return $scope.firstName + " " + $scope.lastName;
  };
  // Global Utility..
  $scope.AngularAjaxCommand = function(model,action,param,cb_success,cb_error){ 
    var url =''
    var type='post'
    /* TODO: We can support many more */
    if (action=="getall"){ url = '/api/'+model+'/?page='+param.page+"&limit="+param.limit+"",type='get' }
    else if (action=="treegetall"){ url = '/api/'+model+'/',type='get' }
    else if (action=="get"){ param=getCodeObj(); url = '/api/'+model+'/'+param.id+'/',type='get' }
    else if (action=="treeget"){url = '/api/'+model+'/'+param.id+'/',type='get' }
    else if(action=="create"){ param=mergeObj(serializeFrom('#saveForm'),getCodeObj()); url = '/api/'+model+'/' }
    else if(action=="update"){ param=mergeObj(serializeFrom('#saveForm'),getCodeObj());url = '/api/'+model+'/'+param.id+'/'; }
    else if (action=="delete"){ url = '/api/'+model+'/'+param.id+'/' ;var type='delete'}
    else{ url = '/api/cleancode/invalid/' }  
  
      $http({
            method: type,
            url: url,
            headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'},
            data:$.param(param)
      })
      .success(function(data, status, headers, config) {
        if(data.status!='error'){
          cb_success(data)
        }
      })
      .error(function(data, status, headers, config) {
      //console.log('Error('+status+'): '+data);
      }); 
  }
  $scope.create_cb= function(data){
    $scope.cur=data.res
  }
  
  
  //Populate BrowseList
  $scope.browseList = function(page){
    cb= function(data){
        ////console.log(data)
        $scope.item_list = data.res.data;
        if (data.res.current_page !== undefined)
          $scope.serch_cur_page=eval(data.res.current_page)
      }
    $scope.AngularAjaxCommand('code','getall',{'page':page,'limit':10},cb,'')
  }
  $scope.browseList(1);
  $scope.NextBrowseList=function(){$scope.browseList($scope.serch_cur_page+1);}
  $scope.PrevBrowseList=function(){$scope.browseList($scope.serch_cur_page-1);}
  
  //Populate BrowseTree
  $scope.browseTree = function(){  
      cb= function(data){
      vv = List2TagTree(data.res.data,'topic')
      var html = recur(vv,0)
      $("#browseTree").html(html)
    }
     $scope.AngularAjaxCommand('code','getall',{'page':1,'limit':100},cb,'')
  }
  $scope.browseTree()
  
  //Populate an Item 
  $scope.populate= function(id){
     function cb(d){
        if(d.status!='error'){
          $scope.cur=d.res
        }
     }     
    $scope.AngularAjaxCommand('code','treeget',{'id':id},cb,'')
  }
  $scope.populate(2);
  
  //Delete an Item 
  $scope.delete= function(id){
     function cb(d){
        if(d.status!='error'){
          //$scope.cur=d.res
        }
     }     
    $scope.AngularAjaxCommand('code','delete',{'id':id},cb,'')
  }
  
 
});
/***************** End angular *********/

/****************** Tree Menu Js ************************/
function actionClassOnSiblingButNotThis(ele,cls,cond,action){
 var sib= ele.parentNode.childNodes
 for( i =0;i<sib.length;i++)
 {
   if( sib[i] != ele && $(sib[i]).hasClass(cond)){
     if(action=='toggle'){$(sib[i]).toggleClass(cls)}
     if(action=='add'){$(sib[i]).addClass(cls)}
     if(action=='remove'){$(sib[i]).removeClass(cls)} 
   }
 }
}
function recur(ll,level){
  var h='<ul>'
  ll.forEach(function(e) {
    var has_child = (e.hasOwnProperty('child') && e.child.length != 0)
    if (has_child){
      h+='<li class="has_child"  style="margin-left:'+level*18+'px">'
      h+='<i class="jstree-icon jstree-ocl"></i>'
      h+='<a onclick="actionClassOnSiblingButNotThis(this.parentNode,\'expanded\',\'has_child\',\'remove\');toggleClass(\'li\',\'expanded\',\'up\',this); " ><i class="fa fa-folder-open-o"></i> '+e.name+'</a>'
      h+= recur(e.child,1)
      h+='</li>'
    }
    else{
      h+='<li style="margin-left:'+level*18+'px">'
      h+='<i class="jstree-icon jstree-ocl"></i>'
      h+='<a> <i class="fa fa-file-o"></i>'+e.name+'</a>'
      h+='<div class="group-btn horz text-only" style="margin: 0px; position: absolute; right:0;"><button  title="Download" ng-click="deleteItem(item.id)"><i class="fa fa-download"></i></button><button title="Edit" onclick="populate('+e.id+')"><i class="fa fa-chain-broken fa-fw"></i></button><button title="Love it" onclick="deleteItem('+e.id+')"><i class="fa fa-heart-o"></i></button><button title="Add to fev" onclick="deleteItem('+e.id+')"><i class="fa fa-star-o"></i></button><button title="Delete" onclick="Delete('+e.id+');$(this).closest(\'li\').addClass(\'hide\');"><i class="fa fa-trash"></i></button></div>' 
      h+='</li>' 
    }    
  });
  h += '</ul>'
  return h;
}

function List2TagTree(ll,target_field_name){
  temp={}
  ll.forEach(function(e) {
    fl =eval(e[target_field_name])
    if(fl.length ==0){ fl=['zUnKnown'] }
    fl.forEach(function(f) {
      if(temp.hasOwnProperty(f)){
        temp[f].push(e)
      }
      else{
      temp[f] =[]
      temp[f].push(e)
      }
    });
  });
  
  out=[]
  for( p in temp) {
  out.push({'name':p,'child':temp[p]})
  }
  out.sort(function(a, b){
      if(a.name < b.name) return -1;
      if(a.name > b.name) return 1;
      return 0;
  });
  return out;
}
/**********  Accessing Scope function from outside.: We need this a autogen angular code will not load..************/
function populate(id) {
    var scope = angular.element($("body")).scope();
    scope.$apply(function(){
        scope.populate(id);
    });
}

function searchRefreash() {
    var scope = angular.element($("body")).scope();
    scope.$apply(function(){
        scope.browseTree();
        scope.browseList(1);
    });
}

function Delete(id) {
    var scope = angular.element($("body")).scope();
    scope.$apply(function(){
        scope.delete(id);
    });
}
/***********  End of Accessing data ************/

/************ End of tree manu ******/
	</script>
  
  <script>
  /**********  Let's Implement Consurrent Edit Operation ****************/
  var Changeset = changesets.Changeset
  var dmp = new diff_match_patch();
  function set_change(text1,text2){   
    diff = dmp.diff_main(text1, text2); // print the difference of the texts
    var changeset = Changeset.fromDiff(diff)
    var serialized = changeset.pack()
    return serialized;
  }
  function get_change(text1,serialized_cs){
    recv_changeset = Changeset.unpack(serialized_cs) 
    var applied = recv_changeset.apply(text1)
    return applied;
  }
  //PushComment
  setInterval(function () {
  input = $("#ss").val()
  //sendMessage(input)
  }, 3000);
  
  //test..  
  var text1 = 'Rockets fly higher than rocks'
    , text2 = 'Rockets can fly higher than rocks, usually'
  var aaa =  set_change(text1,text2);
  var bbb =  get_change( text1,aaa);
  console.log(text2 == bbb)
  
  /*** Introducting wesock--bettre than long pollong ---*/
  WEB_SOCKET_DEBUG = true;
  var socket;
  $(window).bind("beforeunload", function() {
      socket.disconnect();
  });
  
  
  function stopColaboration() {socket.disconnect(); $('#chat_msg').html('disconnected');}
  function startColaboration() {socket = io.connect("http://192.168.56.101:8000/")}; startColaboration();
  
  socket.on('connect', function () { $('#chat_msg').html('connected');});
  socket.on('reconnecting', function (){ $('#chat_msg').html('Attempting to re-connect to the server');});
  socket.on('reconnect', function () { $('#chat_msg').html('Reconnected to the server');});
  socket.on('error', function (e) {$('#chat_msg').html('A unknown error occurred');});
  socket.on('nicknames', function (nicknames) {
      $('#nicknames').empty().append($('<span>Online: </span>'));
      for (var i in nicknames) {
      $('#nicknames').append($('<b>').text(nicknames[i]));
      }
  });
  
  socket.on('announcement', function (msg) {
      $('#lines').append($('<p>').append($('<em>').text(msg)));
  });
  
  socket.on('msg_to_room', message);
  

  

  

  
  function message (from, msg) {
      $('#lines').append($('<p>').append($('<b>').text(from), msg));
  }
  
  // DOM manipulation
  $(function () {
      $('#set-nickname').submit(function (ev) {
          socket.emit('nickname', $('#nick').val(), function (set) {
              if (!set) {
                  clear();
                  return $('#chat').addClass('nickname-set');
              }
              $('#nickname-err').css('visibility', 'visible');
          });
          return false;
      });
      $('#send-message').submit(function () {
        message('me', $('#message').val());
        socket.emit('user message', $('#message').val());
        clear();
        $('#lines').get(0).scrollTop = 10000000;
        return false;
      });
      function clear () {
          $('#message').val('').focus();
      };
  });
  
	</script>
  


  
</body>
