<!--
iy
y
toothStrap :

-->
<html ng-app="">

<head> 
<title> ToothStrap | |toothstrap </title>

  <link rel="stylesheet" type="text/css" href="/media/css/concat.css">
    <script src="/media/js/jquery.min.js"></script>
  <script src="/media/js/angular.min.js"></script>
  <script src="/media/js/concat.js"></script>

</head>
<body>

<br><hr>
<pre> 
ToothStrap with Examples by Dipankar
- SCSS framework for Themed bootstrep 
- Inspired by bootstrep
- Include all modern and Clear UI Component example.
Objective:
1. Clear HTML UI
2. Easy to change Component Therese just changing top ID
3. Ease to Change  Lookup theme 
4. Easy to Understand .
</pre><br>

<br><hr> Example 5: Testing JS basic utility:addClass()/removeClass()/toggleClass() <br><hr><br>
<div onclick="addClass('#xyz','cls1')"> Click "addClass('#xyz','cls1')" </div>
<div onclick="removeClass('#xyz','cls1')"> Click removeClass('#xyz','cls1')</div>
<div onclick="toggleClass('#xyz','cls1')"> Click toggleClass('#xyz','cls1')</div>
<div id="xyz">inspact here </div>


<br><hr> Example 5: sidebar-popup. [class="sidebar-popup show"[ left right top bottom show ]]  <br><hr><br>
<div onclick="toggleClass('#bar1','show')"> Clcik to show bar</div>
<div class="sidebar-popup" id="bar1"> sidebar-popup Right </div> 
<div class="sidebar-popup left"> sidebar-popup Right </div> 
<div class="sidebar-popup right"> sidebar-popup Right </div> 
<div class="sidebar-popup top"> sidebar-popup Right </div> 
<div class="sidebar-popup bottom"> bottom1 </div> 
<div class="sidebar-popup bottom"> bottom2 </div> 


<br><hr> Example 5: Notification popup. [notification-popup alert info warn error success btn-right] autohide] <br><hr><br>
<div class="notification-popup alert">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<div class="notification-popup info">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<div class="notification-popup warn">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>

<div class="notification-popup error">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
<div class="notification-popup success">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>
<div class="notification-popup success btn-right autohide">
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>



<br><hr> Example 5: Text Style <br><hr><br>

<p class="p"> Hello this is Dipankar  </p>
<p class="p f10"> Hello this is Dipankar  </p>
<p class="p f26"> Hello this is Dipankar  </p> 
<p class="p f26 b"> Hello this is Dipankar </p> 
<p class="p f26 bar"> Hello this is Dipankar </p> 
<p class="p f16 b thik-border-hover"> Hello this is Dipankar </p> 
<p class="p f16 b inv-color bar"> Hello this is Dipankar </p> 

<br><hr> Example 23[tested]: Table  Style class="[table striped bordered hover] <br><hr><br>

<table class="table">
      <thead>
        <tr> <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th> </tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td></tr>
        <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td></tr>
      </tbody>
</table>

<table class="table striped">
      <thead>
        <tr> <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th> </tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td></tr>
        <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td></tr>
      </tbody>
</table>

<table class="table bordered hover">
      <thead>
        <tr> <th>#</th><th>First Name</th><th>Last Name</th><th>Username</th> </tr>
      </thead>
      <tbody>
        <tr><td>1</td><td>Mark</td><td>Otto</td><td>@mdo</td></tr>
        <tr><td>2</td><td>Jacob</td><td>Thornton</td><td>@fat</td></tr>
      </tbody>
</table>




<br><hr> Example 23[tested]: Box Style: class ="box s200X300 round noshadow inline" <br><hr><br>

<div class ="box"> this is box.</div><br>
<div class ="box s200X300"> this is box.</div><br>
<div class ="box round"> this round  box.</div><br>
<div class ="box round noshadow"> this round  box. with no shadow</div><br>

<div> 
   <div class ="box inline"> this is box 1.</div>
   <div class ="box inline"> this is box 2.</div>
   <div class ="box inline"> this is box 3</div>
<div>




<br><hr> Example 23[tested]: Button Style..[class="btn" primary default success info error warn sqr (primary secondary)] <br><hr><br>
<!--- This is Diff kind of buttom we supported -->
<button class="btn">button1</button>
<button class="btn primary">button1</button>
<button class="btn default">button1</button>
<button class="btn success">button1</button>
<button class="btn info">button1</button>
<button class="btn error">button1</button>
<button class="btn warn">button1</button>

<!-- Stylish SQRURE Btn -->
<a href="#" class="btn sqr primary"> p-btn </a>
<a href="#" class="btn sqr secondary"> &#42; s-btn </a>


<!-- Split button -->
<div class="dropdown-btn-group toggle_open_class_on_hover_click">
  <button class="btn">Action</button>
  <button class="btn action"><i class="fa fa-home fa-fw"></i> </button>
  <div class="dropdown">
    <a href="#"> <i class="fa fa-home fa-fw"></i> Action</a>
    <a href="#"><i class="fa fa-home fa-fw"></i> Another action</a>
    <a href="#"><i class="fa fa-home fa-fw"></i> Something else here</a>
    <div class="divider"></div>
    <a href="#"><i class="fa fa-home fa-fw"></i>Separated link</a>
  </div>
</div>


<br><hr> Example 21 [tested]: Sample List grough is Here HOW TO USE: class:[group-btn horz separated icon-only round] put a/button tag inside this.  <br><hr><br>

<div class="group-btn horz icon-only round">
        <a href="#"><i class="fa fa-home fa-fw"></i></a>
        <a href="#"><i class="fa fa-book fa-fw"></i></a>
        <a href="#"><i class="fa fa-pencil fa-fw"></i></a>
        <a href="#"><i class="fa fa-cog fa-fw"></i></a>
</div>
<div class="group-btn horz icon-only">
        <a  href="#"><i class="fa fa-home fa-fw"></i></a>
        <a  href="#"><i class="fa fa-book fa-fw"></i></a>
        <a href="#"><i class="fa fa-pencil fa-fw"></i></a>
        <a href="#"><i class="fa fa-cog fa-fw"></i></a>
</div>
<div class="group-btn horz">
        <a  href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
        <a  href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
        <a  href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
        <a  href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
</div>
<div class="group-btn">
        <a  href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
        <a  href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a>
        <a  href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a>
        <a  href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
</div>

<div class="group-btn">
  <button class="btn">button1</button>
  <button class="btn">button1</button>
  <button class="btn">button1</button>
</div>

<div class="group-btn separated horz ">
  <button class="btn">button1</button>
  <button class="btn">button1</button>
  <button class="btn">button1</button>
</div>

      


<br><hr> Example 23 [tested]: ToolTip Examples.. <br><hr><br>
<div style="margin:50px">
<br></br><p class="tooltip" data-tip="This is the text of t he tooltip">tooltip</p> 
<br></br><p class="tooltip left" data-tip="This is the text of t he tooltip">tooltip left</p> 
<br></br><p class="tooltip right" data-tip="This is the text of t he tooltip">tooltip right</p> 
<br></br><p class="tooltip top" data-tip="This is the text of t he tooltip">tooltip top</p> 
<br></br><p class="tooltip bottom" data-tip="This is the text of t he tooltip">tooltip bottom</p> 
</div>
<br><hr> Example 22: Input Style <br><hr><br>

<div class="ripple">
    <input type="checkbox" class="option-input checkbox" CHECKED />
    <input type="checkbox" class="option-input checkbox" />
    <input type="checkbox" class="option-input checkbox" />
    <input type="radio" class="option-input radio" name="example" />
    <input type="radio" class="option-input radio" name="example" />
    <input type="radio" class="option-input radio" name="example" />
</div>

<div class="radio-group">
  <label class="radio">
    <input id="radio1" type="radio" name="radios" checked>
    <span class="outer"><span class="inner"></span></span>Robert Baratheon</label>
  <label class="radio">
    <input id="radio2" type="radio" name="radios">
    <span class="outer"><span class="inner"></span></span>Rhaegar Targaryen</label>
  <label class="radio">
    <input id="radio3" type="radio" name="radios">
    <span class="outer"><span class="inner"></span></span>Lyanna Stark</label>
  <label class="radio">
    <input id="radio4" type="radio" name="radios">
    <span class="outer"><span class="inner"></span></span>Tywin Lannister</label>
  <label class="radio">
    <input id="radio5" type="radio" name="radios">
    <span class="outer"><span class="inner"></span></span>Jon Arryn</label>
</div>

<div class="input-group">
    <div class="msg">Opps.. you must do that...</div>    
    <input class="form-control" type="email" placeholder="Enter email">
    <i class="fa fa-male start"></i>
    <i class="fa fa-check end"></i>
</div>

<div class="input-group success">
    <div class="msg">Opps.. you must do that...</div>    
    <input class="form-control" type="email" placeholder="Enter email">
    <i class="fa fa-male start"></i>
    <i class="fa fa-check end"></i>
</div>

<div class="input-group error">
    <div class="msg">Opps.. you must do that...</div>    
    <input class="form-control" type="email" placeholder="Enter email">
    <i class="fa fa-male start"></i>
    <i class="fa fa-check end"></i>
</div>




<br><hr> Example 20 Menu Bar  <br><hr><br>
<button id="btn" ng-click="toggle = !toggle" ng-class="{'red' : toggle}">Change Class</button>

<div class ="menu " ng-class="{'sidebar-col' : sidebar}">
  <div class="title">
    <i class="logo fa fa-slideshare fa-6"></i>
    <i class="bar fa fa-bars fa-6" onClick="toggleMenu()"></i>
  </div >
  
  <ul class="nav">
    <li><a href="#"><i class="fa fa-group"></i><span>menu1</span></a></li>
    <li><a href="#"><i class="fa fa-group"></i><span>menu2</span></a></li>
    <li><a href="#"><i class="fa fa-group"></i><span>menu3</span></a></li>
    <li><a href="#"><i class="fa fa-group"></i><span>menu4</span></a></li>
    <li class="has-sub">
      <a href="#"><i class="fa fa-group"></i><span>menu5</span></a>    
      <ul class="co">
        <li><a href="#"><i class="fa fa-group"></i><span>menu51</span></a></li>
        <li><a href="#"><i class="fa fa-group"></i><span>menu52</span></a></li>
      </ul>
    </li>
  </ul>
  
</div>


<br><hr> Example 19 [tested]: FullS creen  <br><hr><br>
<input type="button" value="click to toggle fullscreen" onclick="toggleFullScreen(document.body)">

<br><hr> Example 18:navigation <br><hr><br>

 <div class="navigation">
   <div class="ntitle">
     <ul>
        <li><a href="#"> home </a></li>
        <li><a href="#"> home </a></li>
        <li><a href="#"> home </a></li>
        <li><a href="#"> home </a></li>
     </ul>
   </div>
   <div class="nbody">

   </div>
 </div>

<br><hr> Example 18: Color Theme.. You have now 9 color with 1o range  <br><hr><br>

<div class="hashed-back Pink w700"> Green Hashed</div>

<br><hr> Example 17 : hashed-back  Here <br><hr><br>
<div class="hashed-back green"> Green Hashed</div>
<div class="hashed-back red"> Red Hashed</div>
<br><hr> Example 17: Navigation Here <br><hr><br>
<div class="pagination">
    <a href="#" ><i class="fa fa-chevron-left"></i></a> 
     <a href="#" >1</a> 
     <a href="#" >2</a> 
     <a href="#" >3</a> 
     <a href="#" >4</a> 
     <a href="#" class="active" >5</a> 
     <a href="#" >6</a> 
     <a href="#" ><i class="fa fa-chevron-right"></i></a> 
</div>

<div class="pagination">
    <button href="#" ><i class="fa fa-chevron-left"></i></button> 
     <button href="#" >1</button> 
     <button href="#" >2</button> 
     <button href="#" >3</button> 
     <button href="#" >4</button> 
     <button href="#" class="active" >5</button> 
     <button href="#" >6</button> 
     <button href="#" ><i class="fa fa-chevron-right"></i></button> 
</div>
<br><hr> Example 16: PopUp Right Slide..<br><hr><br>
<!-- How to Use,, 
- just add RightSlide class to the content..
- call the function : showPopup_RightSlide('#example-popupRightSlide')
 -->
<div class="popup-overlay"></div>
<a class="popup-link" href="#" onclick ="showPopup('#example-popupRightSlide')">Click Here to popup</a>
<div class="mt-box popup RightSlide" id="example-popupRightSlide">
  <div class="title">
    <div class="left"> Animated Box </div>
    <div class="right"> 
    </div>
  </div>
  <div class="contents">  
  <button class="round-btn btn1"> <i class="fa fa-share"></i> </button>
  </div>
</div>

<br><hr> Example 15: PopUp Box With Click+ btn Calcelation(Paytm Like): We have 3 things: Link, Body, placeholder  <br><hr><br>
<!-- How to Use
You just need to add pacify  top element as id="example-popup" and  class="popup"
and adding a spam as <span class="popup-exit"></span> 
 -->
<div class="popup-overlay"></div>
<a class="popup-link" href="#" onclick ="showPopup('#example-popup')">Click Here to popup</a>
<div class="mt-box popup" id="example-popup">
  <span class="popup-exit"></span> 
  <div class="title">
    <div class="left"> Animated Box </div>
    <div class="right"> 
    </div>
  </div>
  <div class="contents">  
  <button class="round-btn btn1"> <i class="fa fa-share"></i> </button>
  </div>
</div>



<br><hr> Example 14: E2B Style . <br><hr><br>
<textarea id="txtInput"  rows="6" cols="100" style="margin:15px"> </textarea>
<script>
$(document).ready(function () {
    var flag = 0;
    $("#txtInput").keypress(
    function (event) {
        console.log(event.which);
        if (event.which == 32 && flag == 1) {
            flag = 0;
            console.log("You have pressed space sign");
            word = $("#txtInput").val()
            full_word = word.substring(word.lastIndexOf(' ')+1, word.length)
            console.log('[' + full_word + ']');
            $.get( "http://192.168.56.101:5000/", { q: full_word},
             function(data) {
                console.log(data);
                if(data.status =='SUCCESS'){
                $("#txtInput").val(word.replace(full_word, data.output[0])+" ");
                }
             });      
           
        } else if (event.which != 32 && flag == 0) {
            console.log('start word..')
            flag = 1;
        }
    }
    );

});

</script>


<br><hr> Example 13: Aswsome Font Example <br><hr><br>
<i class="fa fa-camera-retro"></i> I Love this..   

<br><hr> Example 12: Meterial Design Box. <br><hr><br>

<div class="mt-box">
  <div class="title">
    <div class="left"> Animated Box </div>
    <div class="right"> 
    </div>
  </div>
  <div class="contents">  
  <button class="round-btn btn1"> <i class="fa fa-share"></i> </button>
  </div>
</div>



<br><hr> Example 11: Single page Website <br><hr><br>

<div class="singlePageScrollEffect">
  <div class="menu"></div>
  <div class="pages">
    <section class="page1 section" > hello123 </section>
    <section class="page2 section" > hello123 </section>
    <section class="page3 section" > hello123 </section>
  </div>
</div>

<br><hr> Example 10: Animated List like google Inbox<br><hr><br>

<button class="btn" ng-click="autoScroll = !autoScroll">Show/Hide</button>
<div class="AnimatedList" ng-class="autoScroll ? 'show-al' : 'hide-al'">
<ul>
  <li class="1 " > Hello1  </li>
  <li class="2" style=""> Hello2 </li>
  <li class="3 " > Hello3 </li>
  <li class="4 " > Hello4 </li>
</ul>
</div>

<br><hr> Example 9: Login Box (ng used) <br><hr><br>
<div class="login-box"  ng-init="selected=1">
  <div class="left">
    <div class="tab">
      <a ng:click="selected=1" ng:class="{'active' : selected==1 }" > Login</a>
      <a ng:click="selected=2" ng:class="{'active' : selected==2 }"  > signUp</a>  
      <a ng:click="selected=3" ng:class="{'active' : selected==3 }" > Forgot password?</a> 
      <a ng:click="selected=4" ng:class="{'active' : selected==4 }"  > Forgot userName?</a> 
    </div>
    <div class="body">
      <div class="login " ng:show="selected == 1">login</div>
      <div class="signup" ng:show="selected == 2">Signup</div>
      <div class="fpass"  ng:show="selected == 3"> Forget Password ?</div>
      <div class="funame" ng:show="selected == 4"> forgot uname ? </div>
    </div>
  </div>
  <div class="or"></div>
  <div class="right">
    <button class="button facebook" type="button">Connect with Facebook</button>
    <button class="button google" type="button">Connect with Google</button>
  </div>
</div>



<br><hr> Example 7: CSS 3 Animation Block  <br><hr><br>
<div class="sample-block bounceInUp animated">
Something here
</div>


<br><hr> Example 6: Top Bar Navigation< Logo | Search | Action Bar | Accout Setting  <br><hr><br>
<div id="top-bar">
  <a href="/?src=logo" class="logo"><img src="http://myntra.myntassets.com/myx/images/myntra.31f8417cc06ef6309718fdd381004886ea6171fc.png" height="39" width="136"></a>
  
  <div class="search">
    <input id="q" placeholder="Search" autocomplete="off">
    <a class="submit"><span class="icon-search"></span></a>
  </div>
  <div class="actions">
    <a class="notification" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ><span class="icon-wishlist"/></a>
    <a class="wishlist"><span class="icon-bag"/></a>
    <a class="cart"><span class="icon-notification"/></a>
  </div>    
  <div class="account circle" style="background-image: url('http://img.labnol.org/di/bo.jpg')"> </div>
</div>

<br><hr> Example 6A: Flyout Popup on click on menu <br><hr><br>

<div id ="wishlist" class="flyout" ng-class="{show: hover}" >
  <div class="arrow" style="left: 45px;"></div>
  <div class="contents">
    <div class="big">Shopping bag empty</div>
  </div>
</div>



<br><hr> Example 4: Navigation on Slide. <br><hr><br>

<div id="div-nav-bar" class="side-nav">
  <div class="header">
    <p> This is a title <p>
  </div>
  <div class="menu">
    <ul>
    <li target-id="f1"><a href="javascript:void(0)"><span>title 1</span></a></li>
    <li target-id="f2"><a href="javascript:void(0)"><span>title 2</span></a></li>
    <li target-id="f3"><a href="javascript:void(0)"><span>title 3</span></a></li>
    </ul>
  </div>
  <div class="data">
    <div id="f1"> <div id="big-info-box"><div class="title"> Welcome you 1</div></div>  </div>
    <div id="f2"> <div id="big-info-box"><div class="title"> Welcome you 2 </div></div></div>
    <div id="f3"> <div id="big-info-box"><div class="title"> Welcome you 3 </div></div></div>
  </div>
</div>



<br><hr> Example 3: Div Navigation Tab bar.  <br><hr><br>

<div id="div-nav-bar" class="underline-scroll">
  <div class="header">
    <p> This is a title <p>
  </div>
  <div class="menu">
    <ul>
    <li target-id="f1"><a href="javascript:void(0)"><span>title 1</span></a></li>
    <li target-id="f2"><a href="javascript:void(0)"><span>title 2</span></a></li>
    <li target-id="f3"><a href="javascript:void(0)"><span>title 3</span></a></li>
    </ul>
  </div>
  <div class="data">
    <div id="f1"> <div id="big-info-box"><div class="title"> Welcome you 1</div></div>  </div>
    <div id="f2"> <div id="big-info-box"><div class="title"> Welcome you 2 </div></div></div>
    <div id="f3"> <div id="big-info-box"><div class="title"> Welcome you 3 </div></div></div>
  </div>
</div>

<br><hr> Example 2: BigInfoBox   <br><hr><br>

<div id="big-info-box">
  <div class="title"> Welcome you </div>
</div>



</body>

</html>
