/*******************************************************************************
 File name: basic_control.scss
 Author: Dipankar Dutta
 Objective:
          1. Contains all basic and elementry control
          2. We should have multiple version/looks on elementary control
          3. Contains font related class and informations.
          
 -This file is included in toothstrap.scss
          
*********************************************************************************/
.hello{color:red}
/***************  STR Global Overwrite Control ******************/
body {
  @extend .font;
  background: $color-backgroud;
  margin:0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  }
li { display: inline-block;}
div {display:block;}
.hide  { display: none;}
.show  {  display: block;}
.inline {   display: inline;}
.block  { isplay: block;}
a {text-decoration: none;  cursor: pointer;}

/***************  END   Global Control **********************/


/***************  START  Bottom Control *********************/
.btn {
    -moz-user-select: none;
    background-image: none;
     outline: none; 
     -moz-outline-style: none; /* needed*/
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    min-height: 40px;
    min-width: 100px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
     
    background-color: $white; border-color: #ccc; color: #333; 
    &:hover,&:focus,&:active{ color: #333; background-color: #e6e6e6; border-color: #adadad;}
    
    &.default {
      background-color: $white; border-color: #ccc; color: #333;    
      &:hover,&:focus,&:active{ color: #333; background-color: #e6e6e6; border-color: #adadad;}
    }
    &.primary {
     color: $white;  background-color: #337ab7;  border-color: #2e6da4;  
      &:hover,&:focus,&:active{ color: $white; background-color: #286090;   border-color: #204d74;}
    }
    &.success {
      color: $white; background-color: #5cb85c;   border-color: #4cae4c; 
      &:hover,&:focus,&:active{ color: $white;   background-color: #449d44;  border-color: #398439;}
    }
    &.info {
      color: $white;   background-color: #5bc0de;   border-color: #46b8da; 
      &:hover,&:focus,&:active{ color: $white;  background-color: #31b0d5;  border-color: #269abc;}
    }
    &.warn {
     color: $white;  background-color: #f0ad4e;  border-color: #eea236;  
      &:hover,&:focus,&:active{  color: $white;   background-color: #ec971f;   border-color: #d58512;}
    }
    &.error {
      color: $white;   background-color: #d9534f;  border-color: #d43f3a;   
      &:hover,&:focus,&:active{color: $white;  background-color: #c9302c;   border-color: #ac2925;}
    }
    
    /*Square btn Theme  */
    &.sqr{
      display: inline-block; 
      border: 2px solid $color-border;
      line-height: 21px;
      padding: 10px 16px;
      text-transform: uppercase;
      border-radius:0;
      -webkit-transition: all .3s ease-in;
       &.primary{
         background: $color-backgroud-deep ;
         color: $white;
         &:hover{
            background: transparent;
            color:$color-text ;
          }
        }
       &.secondary{
        background: transparent;
        color: $color-text;
        &:hover{
          background: $white;
          color: $color-backgroud-deep ;
        }
      }
    }
}
/***************  END   btn Control **********************/

/*************** list-group ************************/
.list-group{
   width: 201px; /*TO BE OVERWRITE */
   margin:10px; /*TO BE OVERWRITE */
  .list-group-item {
    position: relative;
    display: block;
    padding: 15px 20px;
    margin-bottom: -1px;
    background-color: $c-color-backgroud;
    border: 1px solid $c-color-border;
  }
  a.list-group-item {
    color: $c-color-text;
  }
  .list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: $c-color-text-hover;
    background-color: $c-color-backgroud-hover;
  }
  &.horz{
    display:inline-block;
    width:auto;
    .list-group-item{ 
      display:inline-block;
      min-width: 135px; /*TO BE OVERWRITE */
      margin-left: -6px;
      &:last-child {border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
      &:first-child {border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
    }
  }
  &.icon-only{
    .list-group-item{ 
     font-size: 30px;
     min-width: 85px;
    }
  }
  &.separated a.list-group-item{
    margin: 0 8px;
    border-radius:0;
    &:last-child,&:first-child{border-radius:0}
  }
  &.round a.list-group-item{
    color: black;
    margin: 0 4px;
    border-radius:50%;
    border:2px solid $color-border;
    height:50px;
    width:50px;
    min-width:0px;
    background: $color-backgroud;
    &:last-child,&:first-child{border-radius:50%}
    &:hover{background: $color-backgroud-hover;}
    i{
      position: relative;
      left: -15px;
      top: -7px;
    }    
  }  
}

/*************  end of list-group ***********************/


/***************  Start  input Control **********************/
input {
  background-color: $white;
  background-image: none;
  border: 1px solid #DADADA;
  border-radius: 3px;
  color: #333;
  font-size: 20px;
  height: 34px;
  padding: 6px 12px;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  font-weight: 300;
  &:hover{ border: 1px solid #898989;}
  &:focus { outline:none;}
}

a:active { outline: none; }  
a:focus{ -moz-outline-style: none; }
.no-style{
  border: 0px;
  outline: none;
  padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/***************  END   input Control **************************/


/************ Box Control Here: rapper on Div ******************/
.box{
    display:block;
    /* padding:5px; NO PADDING PLEASE SIDE EFFECT */
    
    border: 1px solid $c-color-border ;background: white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #fff;
    transition: 0.02s padding ease-in-out;
    position: relative;
    height: 100px; /* TO BE OVERWRITE use s50X50 class.*/
    width: 200px;  /* TO BE OVERWRITE */
    margin: 0 auto;
    &.round{
    @include border-radius(4);
    }
    &.noshadow{box-shadow: none;}
    &.inline{display:inline-block;}    

}
.border     { border: 1px solid $color-border; }
.border-bottom {border-bottom: 1px solid $color-border ;}
.underline {@extend .border-bottom}
.underline-selected {border-bottom: 3px solid red ;}
/************ End of Box Control Here: rapper on Div ******************/


/************ Start Table Control here ******************/
.table{
  width: 98%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
  th{
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
  }
  tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    &:last-child{border-bottom: 1px solid #ddd;}
  }
  td{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  }
  
  &.striped{
    tr:nth-child(odd) {
    background-color: #f9f9f9;
    }
  }
  &.bordered{
    border: 1px solid #ddd;
    th,td{border: 1px solid #ddd;}
  }
  &.hover{
  tr:hover {background-color: #f5f5f5;}
  }
  margin:10px;/*REMOEVE*/
}
/************ End Table Control here: [p f10 f12 f14 f16 f26 b center bar thik-border-hover] ******************/

.p{
   @extend .font;
   font-size: 19px;
   color: $c-color-text;
   width: 100%;
   padding: 6px 0;
   &.f10{font-size: 10px;}
   &.f12{font-size: 12px;}
   &.f14{font-size: 14px;}
   &.f16{font-size: 16px;}
   &.f26{font-size: 26px;}
   &.b { font-weight: 900;}
   &.center {text-align: center;}
   &.bar{ border-bottom: 1px solid $color-border-hover; background: $color-backgroud;padding: 6px 0;text-transform: capitalize; }
   &.thik-border-hover{ 
   border-bottom: 1px solid $color-border-hover;
   &:hover{border-bottom: 3px solid $color-border-hover;}
   }
   &.inv-color{color:$white;background: $color-backgroud-deep}
}

/************ Text Style ******************************/









































/***************  start   Shape Control **********************/

.circle {  width: 50px;  height: 50px;  background-size: cover;  background-repeat: no-repeat;  background-position: center center;  -webkit-border-radius: 99em;  -moz-border-radius: 99em;  border-radius: 99em;  border: 3px solid #eee;  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);   padding:0px;
  -webkit-transition: all .3s ease-in;  &:hover{width: 60px;height: 60px;}}

.round-btn  {  -webkit-appearance: none; -webkit-background-clip: border-box; -webkit-background-origin: padding-box; -webkit-background-size: auto; -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px 0px; -webkit-font-smoothing: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-transform: matrix(1, 0, 0, 1, 0, -1); -webkit-transition-delay: 0s; -webkit-transition-duration: 0.2s; -webkit-transition-property: transform, box-shadow; -webkit-transition-timing-function: linear; -webkit-user-drag: none; -webkit-user-select: none; -webkit-writing-mode: horizontal-tb; align-items: flex-start; background-attachment: scroll; background-clip: border-box; background-color: #2baf2b; background-image: none; background-origin: padding-box; background-size: auto; border-bottom-color: rgb(255, 255, 255); border-bottom-left-radius: 50%; border-bottom-right-radius: 50%; border-bottom-style: none; border-bottom-width: 0px; border-image-outset: 0px; border-image-repeat: stretch; border-image-slice: 100%; border-image-source: none; border-image-width: 1; border-left-color: rgb(255, 255, 255); border-left-style: none; border-left-width: 0px; border-right-color: rgb(255, 255, 255); border-right-style: none; border-right-width: 0px; border-top-color: rgb(255, 255, 255); border-top-left-radius: 50%; border-top-right-radius: 50%; border-top-style: none; border-top-width: 0px; bottom: auto; box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px; -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px; box-sizing: border-box; color: rgb(255, 255, 255); cursor: pointer; display: block; fill:  #2baf2b; font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial; font-size: 16px; font-style: normal; font-variant: normal; font-weight: normal; height: 56px; left: auto; letter-spacing: normal; line-height: normal; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; outline-color: rgb(255, 255, 255); outline-style: none; outline-width: 0px; overflow-x: hidden; overflow-y: hidden; padding-bottom: 6px; padding-left: 6px; padding-right: 6px; padding-top: 6px; text-align: center; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: uppercase; touch-action: pan-y; transform: matrix(1, 0, 0, 1, 0, -1); transition-delay: 0s; transition-duration: 0.2s; transition-property: transform, box-shadow; transition-timing-function: linear; vertical-align: baseline; white-space: nowrap; width: 56px; word-spacing: 0px; writing-mode: lr-tb; z-index: 2; 
&:focus{background-color: #0a8f08;} 
&:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); -webkit-transform: translate3d(0, -2px, 0); transform: translate3d(0, -2px, 0); background-color: #0a8f08;}
}
/***************  END   Shaope Control **********************/

