/*******************************************************************************
 File name: themes.scss
 Author: Dipankar Dutta
 Objective:
          1. Contains all color codes and theme style.
          2. Contains style code vraible
          3. Contains font related class and informations.
 -This file is included in toothstrap.scss
          
*********************************************************************************/

/**** Color Code  as per Google Meterial Design ****/
$red-matrix:   #ffebee  #ffcdd2  #ef9a9a  #e57373  #ef5350  #f44336  #e53935  #d32f2f  #c62828  #b71c1c;
$pink-matrix:  #fce4ec  #f8bbd0  #f48fb1  #f06292  #ec407a  #e91e63  #d81b60  #c2185b  #ad1457  #880e4f;
$purple-matrix:  #f3e5f5  #e1bee7  #ce93d8  #ba68c8  #ab47bc  #9c27b0  #8e24aa  #7b1fa2  #6a1b9a  #4a148c;
$indigo-matrix:   #e8eaf6  #c5cae9  #9fa8da  #7986cb  #5c6bc0  #3f51b5  #3949ab  #303f9f  #283593  #1a237e;
$blue-matrix:  #e1f5fe  #b3e5fc  #81d4fa  #4fc3f7  #29b6f6  #03a9f4  #039be5  #0288d1  #0277bd  #01579b;
$green-matrix:   #e8f5e9  #c8e6c9  #a5d6a7  #81c784  #66bb6a  #4caf50  #43a047  #388e3c  #2e7d32  #1b5e20;
$yellow-matrix:  #fffde7  #fff9c4  #fff59d  #fff176  #ffee58  #ffeb3b  #fdd835  #fbc02d  #f9a825  #f57f17;
$orange-matrix:  #fbe9e7  #ffccbc  #ffab91  #ff8a65  #ff7043  #ff5722  #f4511e  #e64a19  #d84315  #bf360c;
$brown-matrix:   #efebe9  #d7ccc8  #bcaaa4  #a1887f  #8d6e63  #795548  #6d4c41  #5d4037  #4e342e  #3e2723;
$color-list:red pink purple indigo blue green yellow orange brown;

@function getColor($color, $w){
  @if $color == red          {  @return  nth($red-matrix, $w+1);} 
  @else if $color == pink    {  @return  nth($pink-matrix, $w+1);} 
  @else if $color == purple  {  @return  nth($purple-matrix, $w+1);} 
    @else if $color == indigo       {  @return  nth($indigo-matrix, $w+1);} 
  @else if $color == blue       {  @return  nth($blue-matrix, $w+1);} 
    @else if $color == green       {  @return  nth($green-matrix, $w+1);} 
  @else if $color == yellow       {  @return  nth($yellow-matrix, $w+1);} 
    @else if $color == orange       {  @return  nth($orange-matrix, $w+1);} 
  @else if $color == brown       {  @return  nth($brown-matrix, $w+1);} 
  
  @else {@return  nth($red-matrix, $w+1);}
}

/****** Mixing to generate color ******/
@mixin get-background( $color, $w) {   
   background: getColor($color, $w);
}

@mixin get-color( $color, $w) {   
color: getColor($color, $w);
}

@mixin get-border( $color, $w) {   
   border: 1px solid getColor($color, $w); 
}
.dipankar-test{
    @include get-background(pink,9);
    @include get-color(pink,0);
    @include get-border(pink,1);
}

/****** end Mixing to generate color attributes ******/


/****** Mixing to generate color class like .red.w0 ******/
$columns:9;
@mixin autogen_color_class {
  @each $color in $color-list{
    .#{""+$color} { @include get-background($color,5);}
    @for $i from 0 through $columns {
      .#{""+$color}.w#{$i} { @include get-background($color,$i);}
    }
  }
}
@include autogen_color_class;
/****** end of Mixing to generate color class ******/


/***********  start of Theme here *****************/
/*##############################################################*/
$theme-color-name: pink; /* CHANGE HERE */
/*##############################################################*/

$color-text: getColor($theme-color-name, 5);
$color-text-light: getColor($theme-color-name, 1);
$color-text-deep: getColor($theme-color-name, 9);
$color-text-hover: getColor($theme-color-name, 7);
$color-text-success: "green";
$color-text-error: red;

$color-backgroud: getColor($theme-color-name, 0);
$color-backgroud-hover: getColor($theme-color-name, 1);
$color-backgroud-light: getColor($theme-color-name, 2);
$color-backgroud-deep: getColor($theme-color-name, 3);

$color-border: getColor($theme-color-name, 3);
$color-border-hover: getColor($theme-color-name, 5);
$color-border-success: green;
$color-border-error: red;


//Classic color Style.
$c-color-text:#555555;
$c-color-text-hover:#444444;
$c-color-backgroud:  #fff;
$c-color-backgroud-hover: #f5f5f5f5;
$c-color-border: #dddddd;
$c-color-shadow: rgba(0, 0, 0, 0.176);

$white: #fff;
$black: #000;


/***********  End of Theme here *****************/



/***********  Start of font here *****************/
$font-stack:    Helvetica, sans-serif;






.font-slim-title{
font-family: Merriweather, Georgia, 'Times New Roman', serif;
font-size: 47px;
font-style: normal;
font-weight: 100;
height: 60px;


color: #fff;
}
/* External fonts */
@font-face {
   font-family: sansationFont;
   src: url(sansation_light.woff);
}

.font-s {
   font-family: sansationFont;
}
@font-face {
   font-family: dekerFont;
   src: url(/media/font/Dekar.otf);
}

.font-d {
   font-family: dekerFont;
}

.font {
font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
font-size: 14px;
color: $color-text;
}

//TODO
.title-text-head{
  @extend .font;
  font-size: 19px;
  color: $color-text-hover;
}
.title-text-sub{
  @extend .font;
  font-size: 16px;
}
.title-text-small{
  @extend .font;
  font-size: 10px;
}

/***********  End of font here *****************/

/**************** START  Some useful Mixing **************/
//@include transition(color .3s ease);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
//@include opacity(0.8);
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//@extend %clearfix;
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-shadow($shadow ...) {
-webkit-box-shadow: $shadow;
-moz-box-shadow: $shadow;
box-shadow: $shadow;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}
/* example:
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
//@include transition(color .3s ease);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/**************** END  Some useful Mixing **************/
/********** START some useful styling info ********************/

.box     { border: 1px solid $color-border ;background: white;}
.rbox    { border: 1px solid $color-border ;background: white; @include border-radius(2);}
.border     { border: 1px solid $color-border; }
.border-bottom {border-bottom: 1px solid $color-border ;}
.underline {@extend .border-bottom}
.underline-selected {border-bottom: 3px solid red ;}

/********** END some useful styling info ********************/

